body {
  font-family: 'Rubik', serif;
  font-size: 14px;
  line-height: 1.8;
  background: white;

  .jGrowl.top-right {
    margin-right: var(--removed-body-scroll-bar-size, 0);
  }
  .choices__list--dropdown {
    box-sizing: border-box;
  }
  .is-open .choices__list--dropdown {
    border-color: rgb(225, 227, 230);
  }
}

.page-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page-layout__main {
  flex-grow: 1;
}

.text-page {
  margin: 32px auto 96px;
  max-width: 1216px;

  @include --max-md {
    margin: 16px auto 96px;
  }
}

.text-page__title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000;
  font-weight: 400;
  margin: 0 0 32px;

  @include --max-md {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 16px;
  }
}

.text-page__content {
}

.content {
  font-size: 18px;
  line-height: 1.5;

  img {
    max-width: 100%;
    height: auto;
  }

  p {
    margin: 0;
  }

  * + p {
    margin-top: 24px;
  }

  h2 {
    font-size: 24px;
    font-weight: 500;
    margin: 0;
    line-height: 1.25;
  }

  * + h2 {
    margin-top: 48px;
  }

  h3 {
    font-size: 20px;
    font-weight: 500;
    margin: 0;
    line-height: 1.25;
  }

  * + h3 {
    margin-top: 36px;
  }

  b,
  strong {
    font-weight: 500;
  }

  * + .content-checklist {
    margin-top: 24px;
  }

  a {
    color: #0699bc;
    &:hover {
      color: #f18a16;
    }
  }

  table {
    margin: 32px 0;
    border-width: 1px;
    text-indent: 0;
    border-color: inherit;
    border-collapse: collapse;
    th,
    td {
      font-size: 16px;
      padding: 8px 12px;
    }
  }

  @include --max-lg {
    font-size: 16px;
    * + p {
      margin-top: 20px;
    }
    h2 {
      font-size: 20px;
    }
    * + h2 {
      margin-top: 36px;
    }
    h3 {
      font-size: 18px;
    }
    * + h3 {
      margin-top: 24px;
    }
  }
  @include --max-md {
    font-size: 14px;
    * + p {
      margin-top: 16px;
    }
    h2 {
      font-size: 16px;
      padding-bottom: 6px;
      border-bottom: 1px solid #f3f3f3;
    }
    * + h2 {
      margin-top: 36px;
    }
    h3 {
      font-size: 14px;
    }
    * + h3 {
      margin-top: 24px;
    }
    * + .content-attention {
      margin-top: 24px;
    }
    * + .content-cursor {
      margin-top: 36px;
    }
    * + .content-checklist {
      margin-top: 16px;
    }
  }
}

.content-checklist {
  padding: 0;
  margin: 0;
  list-style: none;
}

.content-checklist li {
  position: relative;
  padding-left: 64px;
  margin: 16px 0;
  line-height: 1.25;
}

.content-checklist li::before {
  content: '';
  position: absolute;
  width: 32px;
  height: 32px;
  left: 16px;
  top: -6px;
  background: url('../images/check.svg') no-repeat 50% 50%;

  @include --max-md {
    top: 0;
  }
}

.content-highlighted {
  padding: 24px;
  line-height: 1.25;
  border-radius: 12px;
  background-color: #f8f8f8;
  border: 1px solid #e3e3e3;
  box-sizing: border-box;
}

.content-attention {
  background-color: rgba(55, 188, 33, 0.30196078431372547);
  padding: 24px;
  border-radius: 12px;
  box-sizing: border-box;
  overflow: hidden;
  line-height: 1.25;
}

.content-cursor {
  color: #37bc21;
  padding-left: 64px;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  line-height: 1.25;
}

.content-cursor::before {
  content: '';
  width: 50px;
  height: 37px;
  background: url('/files/images/delivery/content-cursor.png') no-repeat 50% 50%;
  position: absolute;
  top: 50%;
  margin-top: -18px;
  left: 0;
}

.text-page__content .product-info {
  @include --md {
    float: right;
    margin-left: 32px;
  }
}

.product-info {
  border-radius: 6px;
  background-color: #ffffff;
  border: 1px solid #e3e3e3;
  width: 100%;
  max-width: 360px;

  @include --max-lg {
    max-width: 320px;
  }
}

.product-info__row {
  border-bottom: 1px solid #e3e3e3;
  padding: 0 8px;
  display: flex;
  align-items: center;

  &:last-child {
    border-bottom: 0;
  }
}

.product-info__info {
  flex-grow: 1;
}

.product-info__image {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    max-width: 100%;
    height: auto;
  }
}

.product-info__title {
  font-size: 14px;
  text-transform: uppercase;
  color: #0699bc;
  font-weight: 700;
  line-height: 1.25;

  @include --max-lg {
    font-size: 12px;
  }
}

.product-info__desc {
  font-size: 14px;
  color: #8d8d8d;
  font-weight: 400;
  line-height: 1.25;
  margin-top: 4px;

  @include --max-lg {
    font-size: 12px;
  }
}

.container {
  width: var(--container-width);
  max-width: calc(100% - calc(var(--container-padding) * 2));
  padding: 0 var(--container-padding);
  margin-left: auto;
  margin-right: auto;
  box-sizing: content-box;
}

.uppercase {
  text-transform: uppercase;
}

.sprite-icon {
  display: inline-block;
  max-width: 100%;
  height: auto;
  flex-shrink: 0;
}

.button-primary {
  background: #ffed00;
  color: #383838;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  gap: 4px;
  height: 44px;
  height: 52px; //
  padding: 0 24px;
  border-radius: 4px;
  border-radius: 12px; //
  border: none;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 16px;
  letter-spacing: 1px; //
  text-transform: uppercase; //
  @include --hover {
    background: #eed20e;
    color: #000;
  }
  @include --max-md {
    font-size: 14px;
    height: 48px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.button-secondary {
  background: #0090b3;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  height: 44px;
  padding: 0 24px;
  border-radius: 4px;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 16px;
  transition: filter 0.3s ease;
  @include --hover {
    background: linear-gradient(37deg, #ffed66 0%, #ffde2c 100%);
    color: #000;
    filter: drop-shadow(-0.696px 4.951px 5px rgba(6, 56, 63, 0.28));
  }
}

.button-secondary__arrow {
  width: 6px;
  height: 6px;
  position: relative;
  display: inline-block;
  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -1px;
    height: 2px;
    background: currentColor;
    width: 6px;
  }
  &::after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -3px;
    height: 4px;
    width: 4px;
    border-right: 2px solid currentColor;
    border-bottom: 2px solid currentColor;
    transform: rotate(-45deg);
  }
  .button-secondary:hover &::before {
    width: 10px;
  }
  .button-secondary:hover &::after {
    left: 4px;
  }
}

.button-outline {
  background: #fff;
  border: 2px solid #e3e3e3;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  text-decoration: none;
  height: 44px;
  padding: 0 24px;
  white-space: nowrap;
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 16px;
  @include --hover {
    background: #e3e3e3;
    color: #000;
  }
}

.button-link {
  background: transparent;
  color: #383838;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  height: 44px;
  padding: 0 24px;
  border-radius: 4px;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 16px;
  @include --hover {
    background: #f4f4f4;
    color: #000;
  }
}

.button-outline-obscure {
  height: 36px;
  white-space: nowrap;
  padding: 0 24px;
  border-radius: 4px;
  font-weight: 500;
  background-color: #fff;
  // border: 2px solid #878787;
  border: 2px solid #e3e3e3;
  box-sizing: border-box;
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  // color: #878787;
  color: #333;
  text-align: center;
  text-decoration: none;

  &[hidden] {
    display: none;
  }

  &:disabled {
    background-color: #fbfbfb;
    cursor: default;
    color: #c3c3c3;
  }

  &:not(:disabled):hover {
    // background: #878787;
    // color: #fff;
    background: #e3e3e3;
    color: #000;
  }

  @include --max-md {
    padding: 0 16px;
  }
}

.button-outline-obscure_size-icon {
  padding: 0;
  min-width: 36px;
}

.button-filled-primary {
  height: 36px;
  white-space: nowrap;
  padding: 0 24px;
  border-radius: 4px;
  font-weight: 500;
  background-color: #ffed00;
  border: 2px solid #ffed00;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #000;
  text-align: center;
  text-decoration: none;

  &:disabled {
    background-color: #f9f5b9;
    border-color: #f9f5b9;
    cursor: default;
    color: #939393;
  }

  &:not(:disabled):hover {
    background-image: linear-gradient(37deg, #ffed66, #ffde2c);
    color: #000;
  }

  @include --max-md {
    padding: 0 16px;
  }
}

.button-outline-secondary {
  height: 36px;
  white-space: nowrap;
  padding: 0 24px;
  border-radius: 4px;
  font-weight: 500;
  background-color: #fff;
  border: 2px solid #0699bc;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #0699bc;
  text-align: center;
  text-decoration: none;

  &:hover {
    background: #0699bc;
    color: #fff;
  }

  @include --max-md {
    padding: 0 16px;
  }
}

.labeled-input {
  position: relative;
  display: block;
}

.labeled-input__control {
  display: block;
  width: 100%;
  border-radius: 8px;
  background-color: #ffffff;
  border: 1px solid #e3e3e3;
  height: 52px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 16px;
  font-size: 16px;
  line-height: 24px;
  color: #202020;
  line-height: 1;
  box-sizing: border-box;
}

.labeled-input__label {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 2px;
  left: 12px;
  top: 12px;
  line-height: 1;
  font-size: 12px;
  text-transform: uppercase;
  color: #999999;
  font-family: var(--font-sans-narrow);
  transition: 0.3s ease;
}

.labeled-input__label::after {
  content: '*';
  display: none;
  color: #ff0000;
}

.labeled-input:has(.labeled-input__control:not(:placeholder-shown)) .labeled-input__label,
.labeled-input:has(.labeled-input__control:focus) .label {
  font-size: 11px;
  top: 8px;
}

.labeled-input:has(.labeled-input__control[required]) .labeled-input__label::after {
  display: block;
}

.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid #e0e0e0;
  padding: 12px 0;
  margin: 0;
  list-style: none;

  @include --max-lg {
    padding: 8px var(--container-padding);
    margin: 0 calc(var(--container-padding) * -1);
  }
}

.breadcrumb-item {
  font-size: 11px;
  line-height: 14px;
  color: #7d7d7d;
  position: relative;
  padding-right: 16px;
}

.breadcrumb-item::before {
  content: '';
  width: 6px;
  height: 2px;
  background: #bdbdbd;
  position: absolute;
  right: 5px;
  top: 50%;
  margin-top: -1px;
}

.breadcrumb-item::after {
  content: '';
  position: absolute;
  border-width: 3px 0 3px 4px;
  border-style: solid;
  border-color: transparent transparent transparent #bdbdbd;
  right: 4px;
  top: 50%;
  margin-top: -3px;
}

.breadcrumb-item:last-child {
  padding-right: 0;
}

.breadcrumb-item:last-child::before {
  display: none;
}

.breadcrumb-item:last-child::after {
  display: none;
}

.breadcrumb-item a {
  color: #b6b6b6;
  text-decoration: none;
  display: inline-block;
  &:hover {
    color: #000;
  }
}

.tab {
  scroll-margin-top: 61px;

  @include --max-md {
    scroll-margin-top: 81px;
  }
}

.tab-nav {
  display: flex;
  gap: 48px;
  border-bottom: 1px solid #f3f3f3;

  @include --max-xl {
    gap: 36px;
  }
  @include --max-lg {
    gap: 20px;
  }
  @include --max-md {
    gap: 10px;
  }
}

.tab-btn {
  height: 44px;
  position: relative;
  font-size: 20px;
  line-height: 1;
  text-transform: uppercase;
  color: #bababa;
  background: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
  z-index: 1;

  &:hover::before {
    content: '';
    position: absolute;
    z-index: -1;
    left: -8px;
    top: 4px;
    right: -8px;
    bottom: 4px;
    border-radius: 8px;
    background: #f8f8f8;
  }

  &[data-tab-status='active'] {
    color: #000;
  }

  @include --max-lg {
    font-size: 14px;
  }
}

.tab-content {
  margin-top: 24px;

  @include --max-md {
    margin-top: 16px;
  }
}

.tab-pane {
  display: none;

  &[data-tab-status='active'] {
    display: block;
  }
}

.rating-inputs {
  overflow: hidden;
  display: flex;
  font-size: 0;
  position: relative;
  margin: 0;
}

.rating-input {
  width: 20px;
  height: 20px;
  padding: 0;
  opacity: 0;
  z-index: 1;
  position: absolute;
}

.rating-inputs:hover .rating-star:hover,
.rating-inputs:hover .rating-star:hover ~ .rating-star,
.rating-input:checked ~ .rating-star {
  background-image: url('../images/star.svg');
}

.rating-star[for='rating-input-1-5'] {
  order: -1;
}

.rating-star[for='rating-input-1-4'] {
  order: -2;
}

.rating-star[for='rating-input-1-3'] {
  order: -3;
}

.rating-star[for='rating-input-1-2'] {
  order: -4;
}

.rating-star[for='rating-input-1-1'] {
  order: -5;
}

.rating-star,
.rating-inputs:hover .rating-star {
  margin-left: 4px;
  position: relative;
  display: block;
  width: 20px;
  cursor: pointer;
  height: 20px;
  flex-shrink: 0;
  background: url('../images/star-gray.svg') no-repeat 50% 50%;
  background-size: cover;
  z-index: 2;
  &:last-child {
    margin-left: 0;
  }
}

.quantity {
  position: relative;
  flex-shrink: 0;
  width: 95px;
  height: 48px;

  @include --max-lg {
    width: 72px;
  }
}

.quantity__input {
  border-radius: 4px;
  border: 1px solid #e3e3e3;
  background: #e3e3e3;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  min-width: 0;
  padding-left: 12px;
  padding-right: 52px;
  font-weight: bold;
  text-align: center;
  font-size: 16px;
  background: #fff;
  -moz-appearance: textfield;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  &:focus {
    outline: none;
    border-color: #000;
  }

  @include --max-lg {
    padding-left: 4px;
    padding-right: 36px;
    font-size: 14px;
  }
}

.quantity__plus,
.quantity__minus {
  position: absolute;
  min-width: 0;
  right: 1px;
  background: #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #9c9c9c;
  font-size: 18px;
  width: 40px;
  height: 50%;
  padding: 0;
  border: none;
  cursor: pointer;
  border-left: 1px solid #e3e3e3;
  box-sizing: border-box;

  @include --hover {
    color: #000;
    background: #e8e8e8;
  }

  @include --max-lg {
    width: 32px;
  }
}

.quantity__plus {
  top: 1px;
  border-radius: 0 2px 0 0;
  border-bottom: 1px solid #e3e3e3;
}

.quantity__minus {
  bottom: 1px;
  border-radius: 0 0 2px 0;
  border-top: 1px solid #e3e3e3;
}

.cart-quantity {
  display: flex;
}

.cart-quantity__minus,
.cart-quantity__plus {
  background: #f4f4f4;
  border: 0;
  width: 32px;
  height: 32px;
  padding: 0;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #9c9c9c;

  &:hover {
    color: #000;
    background: #e8e8e8;
  }

  @include --max-xl {
    width: 28px;
    height: 28px;
    font-size: 16px;
  }
}

.cart-quantity__input {
  background: transparent;
  border: 0;
  width: 48px;
  height: 32px;
  padding: 0;
  font-size: 14px;
  color: #000000;
  font-weight: 700;
  text-align: center;
  -moz-appearance: textfield;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  @include --max-xl {
    width: 40px;
    height: 28px;
    font-size: 12px;
  }
}

.fixed-catalog {
  position: fixed;
  z-index: 100;
  border: none;
  text-decoration: none;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #000000;
  font-weight: 400;
  height: 44px;
  width: 120px;
  border-radius: 8px;
  filter: drop-shadow(0 0 4px rgba(0, 29, 47, 0.33));
  background-color: #ffed00;
  text-transform: uppercase;
  padding: 0 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  box-sizing: border-box;
  left: 50%;
  bottom: calc(var(--container-padding) * 2);
  transform: translateX(-50%);
  opacity: 0;
  visibility: hidden;
  transition: visibility 0.3s ease, opacity 0.3s ease;
  .floating-elements & {
    opacity: 1;
    visibility: visible;
  }
  &:hover {
    color: #000000;
    filter: drop-shadow(0 0 4px rgba(0, 29, 47, 0.5));
    background-image: linear-gradient(37deg, #efce12 0%, #edd30d 100%);
  }

  @include --lg {
    display: none;
  }
}

.scrolltop {
  position: fixed;
  z-index: 100;
  border: none;
  text-decoration: none;
  font-size: 10px;
  line-height: 1;
  text-transform: uppercase;
  color: #fff;
  font-weight: 400;
  flex-direction: column;
  height: 44px;
  width: 44px;
  border-radius: 8px;
  background-color: #0699bc;
  text-transform: uppercase;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  box-sizing: border-box;
  right: var(--container-padding);
  bottom: calc(var(--container-padding) * 2);
  opacity: 0;
  visibility: hidden;
  transition: visibility 0.3s ease, opacity 0.3s ease;
  .floating-elements & {
    opacity: 1;
    visibility: visible;
  }
  &:hover {
    color: #000000;
    filter: drop-shadow(0 0 4px rgba(0, 29, 47, 0.5));
    background-color: #028caf;
  }

  @include --lg {
    display: none;
  }
}

.tabs-nav {
  padding: 0;
  margin: 12px 0;
  display: flex;
  justify-content: center;
  list-style: none;
  border-bottom: 1px solid #f3f3f3;
  gap: 48px;
  li {
    a {
      display: block;
      text-align: center;
      cursor: pointer;
      line-height: 44px;
      color: #bababa;
      font-size: 20px;
      text-transform: uppercase;
      text-decoration: none;
      &:hover {
        color: #f18a16;
      }
    }
    &.active {
      a {
        color: #000;
        font-weight: 500;
        &:hover {
          color: #f18a16;
        }
      }
    }
  }
  @include --max-md {
    margin: 8px 0;
    gap: 24px;
    justify-content: flex-start;
    li {
      a {
        line-height: 32px;
        font-size: 13px;
      }
    }
  }
}

.checkboxed {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  padding: 7px 0;
}

.checkboxed__control {
  align-self: flex-start;
  position: relative;
  width: 20px;
  height: 20px;
  display: block;
  flex-shrink: 0;
  border-radius: 2px;
  border: 1px solid #beced6;

  input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    box-sizing: border-box;
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 2px;
  }

  &::after {
    content: '';
    display: none;
    width: 14px;
    height: 8px;
    margin-top: -3px;
    box-sizing: border-box;
    border-left: 3px solid #0699bc;
    border-bottom: 3px solid #0699bc;
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  &:has(input:checked)::after {
    display: block;
  }

  @include --max-xl {
    width: 18px;
    height: 18px;
    &::after {
      width: 12px;
      height: 6px;
      margin-top: -2px;
      border-left-width: 3px;
      border-bottom-width: 3px;
    }
  }
}

.checkboxed__label {
  display: block;
  font-size: 14px;
  line-height: 1;

  a {
    color: #007be4;
    &:hover {
      color: #f18a16;
    }
  }

  @include --max-xl {
    font-size: 12px;
  }
}

.pagination {
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 32px 0;
  padding: 0;
  list-style: none;
  body #pdopage & {
    margin: 32px 0;
  }
  .page-item {
  }
  .page-item.disabled .page-link {
    color: #bababa;
  }
  .page-item.active .page-link {
    font-weight: 700;
    color: #0699bc;
  }
  .page-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-height: 24px;
    min-width: 24px;
    text-decoration: none;
    font-size: 16px;
    line-height: 1;
    color: #000;
    &:hover {
      color: #f18a16;
    }
  }
}

.modal-confirmation {
}

.modal-confirmation__header {
  line-height: 1.333;
  font-size: 18px;
  a {
    text-decoration: underline;
    color: inherit;
    display: inline-block;
    &:hover {
      color: #f18a16;
    }
  }

  @include --max-md {
    text-align: center;
  }
}

.modal-confirmation__footer {
  display: grid;
  grid-template-columns: minmax(min-content, 1fr) minmax(min-content, 1fr);
  gap: 16px;
  margin-top: 24px;

  @include --max-md {
    grid-template-columns: 1fr;
    margin-top: 16px;
    gap: 12px;
  }
}
