body {
  font-family: 'Rubik', serif;
  font-size: 14px;
  line-height: 1.8;
  background: white;

  .jGrowl.top-right {
    margin-right: var(--removed-body-scroll-bar-size, 0);
  }
}

.page-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page-layout__main {
  flex-grow: 1;
}

.container {
  width: var(--container-width);
  max-width: calc(100% - calc(var(--container-padding) * 2));
  padding: 0 var(--container-padding);
  margin-left: auto;
  margin-right: auto;
  box-sizing: content-box;
}

.uppercase {
  text-transform: uppercase;
}

.sprite-icon {
  display: inline-block;
  max-width: 100%;
  height: auto;
  flex-shrink: 0;
}

.button-primary {
  background: #efde00;
  color: #383838;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  gap: 4px;
  height: 44px;
  padding: 0 24px;
  border-radius: 4px;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 16px;
  @include --hover {
    background: #eed20e;
    color: #000;
  }
}

.button-secondary {
  background: #0090b3;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  height: 44px;
  padding: 0 24px;
  border-radius: 4px;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 16px;
  transition: filter 0.3s ease;
  @include --hover {
    background: linear-gradient(37deg, #ffed66 0%, #ffde2c 100%);
    color: #000;
    filter: drop-shadow(-0.696px 4.951px 5px rgba(6, 56, 63, 0.28));
  }
}

.button-secondary__arrow {
  width: 6px;
  height: 6px;
  position: relative;
  display: inline-block;
  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -1px;
    height: 2px;
    background: currentColor;
    width: 6px;
  }
  &::after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -3px;
    height: 4px;
    width: 4px;
    border-right: 2px solid currentColor;
    border-bottom: 2px solid currentColor;
    transform: rotate(-45deg);
  }
  .button-secondary:hover &::before {
    width: 10px;
  }
  .button-secondary:hover &::after {
    left: 4px;
  }
}

.button-outline {
  background: transparent;
  border: 2px solid #e3e3e3;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  text-decoration: none;
  height: 44px;
  padding: 0 24px;
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 16px;
  @include --hover {
    background: #e3e3e3;
    color: #000;
  }
}

.button-link {
  background: transparent;
  color: #383838;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  height: 44px;
  padding: 0 24px;
  border-radius: 4px;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 16px;
  @include --hover {
    background: #f4f4f4;
    color: #000;
  }
}

.labeled-input {
  position: relative;
  display: block;
}

.labeled-input__control {
  display: block;
  width: 100%;
  border-radius: 8px;
  background-color: #ffffff;
  border: 1px solid #e3e3e3;
  height: 52px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 16px;
  font-size: 16px;
  line-height: 24px;
  color: #202020;
  line-height: 1;
  box-sizing: border-box;
}

.labeled-input__label {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 2px;
  left: 12px;
  top: 12px;
  line-height: 1;
  font-size: 12px;
  text-transform: uppercase;
  color: #999999;
  font-family: var(--font-sans-narrow);
  transition: 0.3s ease;
}

.labeled-input__label::after {
  content: '*';
  display: none;
  color: #ff0000;
}

.labeled-input:has(.labeled-input__control:not(:placeholder-shown)) .labeled-input__label,
.labeled-input:has(.labeled-input__control:focus) .label {
  font-size: 11px;
  top: 8px;
}

.labeled-input:has(.labeled-input__control[required]) .labeled-input__label::after {
  display: block;
}

.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid #e0e0e0;
  padding: 12px 0;
  margin: 0;
  list-style: none;

  @include --max-lg {
    padding: 8px var(--container-padding);
    margin: 0 calc(var(--container-padding) * -1);
  }
}

.breadcrumb-item {
  font-size: 11px;
  line-height: 14px;
  color: #7d7d7d;
  position: relative;
  padding-right: 16px;
}

.breadcrumb-item::before {
  content: '';
  width: 6px;
  height: 2px;
  background: #bdbdbd;
  position: absolute;
  right: 5px;
  top: 50%;
  margin-top: -1px;
}

.breadcrumb-item::after {
  content: '';
  position: absolute;
  border-width: 3px 0 3px 4px;
  border-style: solid;
  border-color: transparent transparent transparent #bdbdbd;
  right: 4px;
  top: 50%;
  margin-top: -3px;
}

.breadcrumb-item:last-child {
  padding-right: 0;
}

.breadcrumb-item:last-child::before {
  display: none;
}

.breadcrumb-item:last-child::after {
  display: none;
}

.breadcrumb-item a {
  color: #b6b6b6;
  text-decoration: none;
  &:hover {
    color: #000;
  }
}

.tab {
  scroll-margin-top: 61px;

  @include --max-md {
    scroll-margin-top: 81px;
  }
}

.tab-nav {
  display: flex;
  gap: 48px;
  border-bottom: 1px solid #f3f3f3;

  @include --max-xl {
    gap: 36px;
  }
  @include --max-lg {
    gap: 20px;
  }
  @include --max-md {
    gap: 12px;
  }
}

.tab-btn {
  height: 44px;
  position: relative;
  font-size: 20px;
  line-height: 1;
  text-transform: uppercase;
  color: #bababa;
  background: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
  z-index: 1;

  &:hover::before {
    content: '';
    position: absolute;
    z-index: -1;
    left: -8px;
    top: 4px;
    right: -8px;
    bottom: 4px;
    border-radius: 8px;
    background: #f8f8f8;
  }

  &[data-tab-status='active'] {
    color: #000;
  }

  @include --max-lg {
    font-size: 14px;
  }
}

.tab-content {
  margin-top: 24px;

  @include --max-md {
    margin-top: 16px;
  }
}

.tab-pane {
  display: none;

  &[data-tab-status='active'] {
    display: block;
  }
}

.rating-inputs {
  overflow: hidden;
  display: inline-block;
  font-size: 0;
  position: relative;
  vertical-align: middle;
  margin: 0;
  min-width: 116px;
}

.rating-input {
  float: right;
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 0 0 0 -20px;
  opacity: 0;
}

.rating-inputs:hover .rating-star:hover,
.rating-inputs:hover .rating-star:hover ~ .rating-star,
.rating-input:checked ~ .rating-star {
  background-image: url('../images/star.svg');
}

.rating-star,
.rating-inputs:hover .rating-star {
  margin-left: 4px;
  position: relative;
  float: right;
  display: block;
  width: 20px;
  cursor: pointer;
  height: 20px;
  background: url('../images/star-gray.svg') no-repeat 50% 50%;
  background-size: cover;
  &:last-child {
    margin-left: 0;
  }
}

.quantity {
  position: relative;
  flex-shrink: 0;
  width: 95px;
  height: 48px;

  @include --max-lg {
    width: 72px;
  }
}

.quantity__input {
  border-radius: 4px;
  border: 1px solid #e3e3e3;
  background: #e3e3e3;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  min-width: 0;
  padding-left: 12px;
  padding-right: 52px;
  font-weight: bold;
  text-align: center;
  font-size: 16px;
  background: #fff;
  -moz-appearance: textfield;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  &:focus {
    outline: none;
    border-color: #000;
  }

  @include --max-lg {
    padding-left: 4px;
    padding-right: 36px;
    font-size: 14px;
  }
}

.quantity__plus,
.quantity__minus {
  position: absolute;
  min-width: 0;
  right: 1px;
  background: #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #9c9c9c;
  font-size: 18px;
  width: 40px;
  height: 50%;
  border: none;
  cursor: pointer;
  border-left: 1px solid #e3e3e3;
  box-sizing: border-box;

  @include --hover {
    color: #000;
    background: #e8e8e8;
  }

  @include --max-lg {
    width: 32px;
  }
}

.quantity__plus {
  top: 1px;
  border-radius: 0 2px 0 0;
  border-bottom: 1px solid #e3e3e3;
}

.quantity__minus {
  bottom: 1px;
  border-radius: 0 0 2px 0;
  border-top: 1px solid #e3e3e3;
}

.cart-quantity {
  display: flex;
}

.cart-quantity__minus,
.cart-quantity__plus {
  background: #f4f4f4;
  border: 0;
  width: 32px;
  height: 32px;
  padding: 0;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #9c9c9c;

  &:hover {
    color: #000;
    background: #e8e8e8;
  }

  @include --max-xl {
    width: 28px;
    height: 28px;
    font-size: 16px;
  }
}

.cart-quantity__input {
  background: transparent;
  border: 0;
  width: 48px;
  height: 32px;
  padding: 0;
  font-size: 14px;
  color: #000000;
  font-weight: 700;
  text-align: center;
  -moz-appearance: textfield;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  @include --max-xl {
    width: 40px;
    height: 28px;
    font-size: 12px;
  }
}
