@import 'variables';

.contacts-page {
  max-width: 1216px;
  margin: 12px auto 96px;
}

.contacts-city {
  display: flex;
  align-items: center;
  margin: 16px 0;
  position: relative;
  z-index: 20;

  .choices__list,
  .choices__inner {
    box-sizing: border-box;
  }

  .choices__list--single {
    padding-right: 40px;
  }

  .choices[data-type*='select-one']::before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    width: 40px;
    height: 100%;
    background: #0699bc;
    border-radius: 0 4px 4px 0;
  }

  .choices[data-type*='select-one']::after {
    z-index: 3;
    border-top-color: #fff;
    right: 15px;
  }

  .choices[data-type*='select-one'].is-open::before {
    border-radius: 0 4px 0 0;
  }

  .choices[data-type*='select-one'].is-open::after {
    border-color: transparent transparent #fff;
  }

  .choices[data-type*='select-one'] .choices__inner {
    padding-bottom: 3px;
    padding-top: 3px;
    min-height: 42px;
  }

  @include --max-md {
    flex-wrap: wrap;
  }
}

.contacts-city__select {
  position: relative;
  min-width: 264px;

  .selectric-wrapper {
    width: 100%;
  }

  @include --max-md {
    width: 100%;
  }
}

.contacts-city__label {
  margin-left: 35px;
  font-size: 16px;
  color: #b00;

  @include --max-md {
    margin: 0;
    font-size: 14px;
  }
}

.contacts-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000;
  font-weight: 400;
  margin: 32px 0;

  a {
    text-decoration: none;
    color: inherit;
  }

  @include --max-md {
    font-size: 18px;
    line-height: 24px;
    margin: 24px 0;
  }
}

.contacts-rows {
  display: flex;
  flex-direction: column;
  gap: 24px;

  @include --max-md {
    gap: 16px;
  }
}

.contacts-row {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 12px;
}

.contacts-row__label {
  font-size: 18px;
  line-height: 1.25;
  color: #000;

  span {
    padding: 0 4px;
    background-color: #ffed00;
  }

  @include --max-md {
    font-size: 14px;
  }
}

.contacts-row__value {
  font-size: 18px;
  line-height: 1.5;
  font-weight: 500;

  a {
    color: #0699bc;
    &:hover {
      color: #f18a16;
    }
  }

  @include --max-xl {
    font-size: 16px;
  }

  @include --max-md {
    font-size: 14px;
  }
}

.contacts-details {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 32px;
  margin: 32px 0;

  @include --max-xl {
    grid-template-columns: 2fr 3fr;
  }
  @include --max-md {
    grid-template-columns: 1fr;
    margin: 24px 0;
    gap: 24px;
  }
}

.contacts-details__gallery {
  min-width: 0;
}

.contacts-details__description {
  min-width: 0;
  padding: 32px 0;

  @include --max-md {
    padding: 0;
  }
}

.contacts-content {
  margin: 32px 0;
  font-size: 18px;
  line-height: 1.5;

  p {
    margin: 0;
  }

  * + p {
    margin-top: 1.5em;
  }

  h2 {
    font-size: 1.333em;
    margin: 0;
    font-weight: 400;
    text-transform: uppercase;
  }

  * + h2 {
    margin-top: 1.5em;
  }

  @include --max-xl {
    font-size: 16px;
  }

  @include --max-md {
    margin: 24px 0;
    font-size: 14px;
  }
}

.contacts-path {
  margin: 32px 0;

  @include --max-md {
    margin: 24px 0;
  }
}

.contacts-path__title {
  text-align: center;
  color: #000;
  font-size: 24px;
  line-height: 32px;
  text-transform: uppercase;
  margin-bottom: 24px;

  @include --max-md {
    margin-bottom: 12px;
    font-size: 16px;
    line-height: 20px;
  }
}

.contacts-path__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 64px;

  @include --max-md {
    gap: 24px;
    flex-direction: column;
  }
}

.contacts-path__description {
  width: 50%;
  font-size: 18px;
  line-height: 1.5;

  @include --max-xl {
    font-size: 16px;
  }

  @include --max-md {
    font-size: 14px;
    width: 100%;
  }
}

.contacts-path__description p {
  margin: 0;
}

.contacts-path__description p + p {
  margin-top: 16px;
}

.contacts-path__image {
  width: 50%;

  @include --max-md {
    width: 100%;
  }
}

.contacts-path__image img {
  display: block;
  max-width: 100%;
  height: auto;
}

.contacts-cdek {
  margin: 64px 0;

  @include --max-md {
    margin: 36px 0;
  }
}

.contacts-cdek__title {
  text-align: center;
  color: #000;
  font-size: 24px;
  line-height: 32px;
  text-transform: uppercase;
  margin-bottom: 24px;

  @include --max-md {
    margin-bottom: 12px;
    font-size: 16px;
    line-height: 20px;
  }
}

.contacts-cdek__description {
  width: 100%;
  margin: 16px 0;
  font-size: 18px;
  line-height: 1.5;

  @include --max-xl {
    font-size: 16px;
  }

  @include --max-md {
    margin: 12px 0;
    font-size: 14px;
  }
}

.contacts-cdek__description strong {
  font-weight: 500;
}

.contacts-cdek__description p {
  margin: 0;
}

.contacts-cdek__description p + p {
  margin-top: 1em;
}

.contacts-cdek__widget {
  width: 100%;
}

.contacts-calc {
  margin: 64px 0;

  @include --max-md {
    margin: 36px 0;
  }
}

.contacts-express {
  margin: 64px 0;

  @include --max-md {
    margin: 36px 0;
  }
}

.contacts-express__title {
  text-align: center;
  color: #000;
  font-size: 24px;
  line-height: 32px;
  text-transform: uppercase;
  margin-bottom: 24px;

  @include --max-md {
    margin-bottom: 12px;
    font-size: 16px;
    line-height: 20px;
  }
}

.contacts-express__description {
  width: 100%;
  font-size: 18px;
  line-height: 1.5;

  @include --max-xl {
    font-size: 16px;
  }

  @include --max-md {
    font-size: 14px;
  }
}

.contacts-express__description p {
  margin: 0;
}

.contacts-express__description p + p {
  margin-top: 15px;
}

.contacts-express__description strong {
  font-weight: 500;
}

.cdek-widget {
  position: relative;
}

.cdek-map {
  aspect-ratio: 3 / 1;

  @include --max-md {
    aspect-ratio: 3 / 2;
  }
}

.cdek-placeholder {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #000;
  transition: all 1s ease;
}

.cdek-placeholder__image {
  position: absolute;
  background-position: 50% 50%;
  background-size: cover;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0.8;
}

.cdek-placeholder__pls-1 {
  position: absolute;
  left: 0;
  top: 4px;
  width: 322px;
  height: 61px;
  background: url('../images/pls-1.png') no-repeat 50% 50%;
  background-size: 100% 100%;
  max-width: 100%;
  opacity: 0.6;
  padding: 12px 1px 1px 41px;
  font-size: 14px;
  box-sizing: border-box;
}

.cdek-placeholder__pls-2 {
  position: absolute;
  left: 10px;
  bottom: 10px;
  width: 85px;
  height: 55px;
  background: url('../images/pls-2.png') no-repeat 50% 50%;
  background-size: cover;
  opacity: 0.6;
}

.cdek-placeholder__pls-3 {
  position: absolute;
  right: 0;
  top: 0;
  width: 60px;
  height: 100%;
  background: url('../images/pls-3.png') no-repeat 50% 50%;
  background-size: cover;
  opacity: 0.6;
}

.cdek-placeholder__button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  font-size: 16px;
  color: #fff;
  font-family: inherit;
  border: none;
  background: #0599bb;
  padding: 0 24px;
  height: 48px;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  text-transform: uppercase;
  white-space: nowrap;
  text-decoration: none;
  width: auto;
  outline: none;
  cursor: pointer;
  &:hover {
    filter: drop-shadow(-0.696px 4.951px 5px rgba(22, 6, 63, 0.35));
    background-image: linear-gradient(37deg, #ffed66, #ffde2c);
    color: #000;
  }
  @include --max-md {
    font-size: 14px;
    height: 44px;
  }
}

.cdek-placeholder_hidden {
  opacity: 0;
  visibility: hidden;
}

.contacts-ymaps {
  margin: 32px 0;

  @include --max-md {
    margin: 24px 0;
  }
}

.ymaps-widget {
  position: relative;
}

.ymaps-map {
  aspect-ratio: 3 / 1;

  @include --max-md {
    aspect-ratio: 3 / 2;
  }
}

.ymaps-placeholder {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #000;
  transition: all 1s ease;
}

.ymaps-placeholder__image {
  position: absolute;
  background-position: 50% 50%;
  background-size: cover;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0.8;
}

.ymaps-placeholder__buttons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.ymaps-placeholder__button {
  box-sizing: border-box;
  font-size: 16px;
  color: #fff;
  font-family: inherit;
  border: none;
  background: #0599bb;
  padding: 0 24px;
  height: 48px;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  text-transform: uppercase;
  white-space: nowrap;
  text-decoration: none;
  width: 100%;
  outline: none;
  cursor: pointer;
  &:hover {
    filter: drop-shadow(-0.696px 4.951px 5px rgba(22, 6, 63, 0.35));
    background-image: linear-gradient(37deg, #ffed66, #ffde2c);
    color: #000;
  }
  @include --max-md {
    font-size: 14px;
    height: 44px;
  }
}

.ymaps-placeholder__button_yellow {
  background-color: #ffed00;
  color: #000000;
}

.ymaps-placeholder__button_yellow:hover {
  filter: drop-shadow(-0.696px 4.951px 5px rgba(22, 6, 63, 0.35));
  background-image: linear-gradient(37deg, #ffed66, #ffde2c);
  color: #000;
}

.ymaps-placeholder_hidden {
  opacity: 0;
  visibility: hidden;
}

.contacts-offices {
  display: flex;
  margin: 32px 0 64px;
  gap: 48px;

  @include --max-lg {
    gap: 24px;
  }
  @include --max-md {
    flex-direction: column;
    margin: 24px 0 36px;
  }
}

.contacts-offices__item {
  width: 50%;

  @include --max-md {
    width: 100%;
  }
}

.contacts-offices-item {
  display: flex;
  align-items: center;
  text-decoration: none;
  position: relative;
  z-index: 1;
}

.contacts-offices-item_active::before {
  content: '';
  position: absolute;
  left: -12px;
  top: -12px;
  right: -12px;
  bottom: -12px;
  background: #f3f3f3;
  z-index: -1;
  border-radius: 12px;
}

.contacts-offices-item__image {
  width: 40%;
  margin-right: 20px;
  position: relative;
  @include --max-xl {
    margin-right: 16px;
  }
  @include --max-lg {
    margin-right: 12px;
  }
}

.contacts-offices-item__image img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.contacts-offices-item__title {
  width: 60%;
  font-size: 20px;
  line-height: 1.5;
  color: #000;
  .contacts-offices-item:hover & {
    color: #f18a16;
  }
  @include --max-xl {
    font-size: 18px;
    line-height: 1.25;
  }
  @include --max-lg {
    font-size: 16px;
  }
}

.contacts-offices-item__image-label {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #014b63;
  text-transform: uppercase;
  font-size: 16px;
  padding: 5px;
  border-radius: 8px;
  background: #57d4e9;
  text-align: center;
  width: 120px;
  font-weight: 700;
  letter-spacing: 0.05em;
}
