.favorites-page {
  margin: 12px 0 96px;
}

.favorites-page__headline {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 12px 0 32px;
  flex-wrap: wrap;
  gap: 12px;
}

.favorites-page__clear {
  height: 36px;
  padding: 0 12px;
  font-size: 14px;
}

.favorites-page__title {
  font-size: 30px;
  text-transform: uppercase;
  color: #000;
  line-height: 36px;
  font-weight: 400;
  margin: 0;

  @include --max-lg {
    font-size: 16px;
    line-height: 20px;
  }
}

.favorites-page__info {
  text-align: center;
  font-size: 18px;
  line-height: 1.5;
  max-width: 960px;
  text-wrap: balance;
  margin: 32px auto;
  a {
    color: #0699bc;
    &:hover {
      color: #f18a16;
    }
  }
}

.favorites-page__list [id='mse2_mscomparison|product'] {
  display: none;
}

.favorites-page__list [id='mse2_msfavorites|product'] {
  display: none;
}

.favorites-page__list .sticky-filter__container {
  width: calc(100vw - (100vw - var(--container-width)));

  @include --max-2xl {
    width: calc(100vw - (100vw - var(--container-width)));
  }

  @include --max-lg {
    width: calc(100vw - (var(--container-padding) * 2));
  }
}

.favorites-page__list #mse2_results {
  margin: 24px 0 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 12px;
  row-gap: 24px;
  @include --md {
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    > *:nth-child(15) + * {
      display: none;
    }
  }
  @include --lg {
    grid-template-columns: repeat(4, 1fr);
    > *:nth-child(15) + * {
      display: flex;
    }
  }
  @include --3xl {
    grid-template-columns: repeat(5, 1fr);
    > *:nth-child(15) + * {
      display: none;
    }
  }
}

.favorites-page__nodata {
  font-size: 18px;
  text-align: center;
  display: none;
}

.favorites-page:has(.mse2_results_nodata) .favorites-page__nodata {
  display: block;
}

.favorites-page:has(.mse2_results_nodata) .favorites-page__list {
  display: none;
}

.favorites-page:has(.mse2_results_nodata) .favorites-page__clear {
  display: none;
}

.favorites-page__card {
  display: flex;
  flex-direction: column;
}

.favorites-page__card .product-card {
  flex-grow: 1;
}

.favorites-page__remove {
  background: transparent;
  margin-left: auto;
  border: none;
  font-size: 16px;
  line-height: 1;
  color: #005976;
  padding: 0;
  padding-bottom: 8px;
  padding-top: 8px;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 8px;
  position: relative;
  padding-right: 20px;
}

.favorites-page__remove::before {
  content: '';
  display: block;
  width: 10px;
  height: 3px;
  background: #c01116;
  border-radius: 2px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: rotate(-45deg) translateY(-50%);
}

.favorites-page__remove::after {
  content: '';
  display: block;
  width: 10px;
  height: 3px;
  background: #c01116;
  border-radius: 2px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: rotate(45deg) translateY(-50%);
}

.favorites-page__remove span {
  text-decoration: underline;
}

.favorites-page__remove:hover span {
  text-decoration: none;
}
