@media (min-width: $breakpoint-lg) {
  .floating-nav {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 50%;
    margin-left: calc((var(--container-width) + (var(--container-padding) * 2)) / 2 * -1);
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 32px 0px rgba(0, 29, 47, 0.28);
    top: 70px;
    width: calc((var(--container-width) + (var(--container-padding) * 2)));
    z-index: 250;
    max-height: calc(100vh - 70px - 10px);
    padding: 24px var(--container-padding);
    box-sizing: border-box;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-10px);
    transition: 0.3s ease;
    border-radius: 12px;
    &[data-state='opened'] {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
  }
  .floating-nav::before {
    content: '';
    position: absolute;
    display: block;
    left: calc(var(--container-padding) + 203px);
    top: -17px;
    border-width: 0 18px 18px 18px;
    border-style: solid;
    border-color: transparent transparent #fff;
  }
  .floating-nav__title {
    font-size: 24px;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    line-height: 1;
    margin-bottom: 32px;
  }
  .floating-nav__body {
    flex-grow: 1;
    overflow: auto;
  }
  .floating-nav__content ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 8px;
    padding: 0;
    margin: 0;
    list-style: none;
    line-height: 24px;
    font-size: 18px;
  }
  .floating-nav__content ul li {
  }
  .floating-nav__content ul li a {
    color: rgb(0, 103, 128);
    text-decoration: none;
    &:hover {
      color: #f28316;
    }
  }
  .floating-nav__close {
    display: none;
  }
}

@media not all and (min-width: $breakpoint-lg) {
  .floating-nav {
  }
  .floating-nav__body {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 250;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: #fff;
    width: 260px;
    box-shadow: 0;
    transform: translateX(-100%);
    visibility: hidden;
    transition: 0.3s ease;
    .floating-nav[data-state='opened'] & {
      transform: translateX(0);
      box-shadow: 0 0 50px rgba(0, 0, 0, 0.4);
      visibility: visible;
    }
  }
  .floating-nav__overlay {
    position: fixed;
    z-index: 240;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.2);
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease;
    &[data-state='opened'] {
      opacity: 1;
      visibility: visible;
    }
  }
  .floating-nav__close {
    padding: 0 12px 0 24px;
    justify-content: space-between;
    font-size: 14px;
    color: rgb(82, 82, 82);
    text-transform: uppercase;
    line-height: 15px;
    height: 40px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    gap: 8px;
  }
  .floating-nav__title {
    font-size: 14px;
    color: rgb(10, 10, 10);
    text-transform: uppercase;
    line-height: 15px;
    height: 48px;
    flex-shrink: 0;
    padding: 0 30px;
    background: #f6f8fe;
    display: flex;
    align-items: center;
  }
  .floating-nav__content {
    flex-grow: 1;
    overflow: auto;
  }
  .floating-nav__content ul {
    padding: 0;
    margin: 0;
    list-style: none;
    line-height: 24px;
    font-size: 14px;
  }
  .floating-nav__content ul li {
  }
  .floating-nav__content ul li a {
    color: rgb(0, 103, 128);
    text-decoration: none;
    display: block;
    padding: 8px 24px;
    line-height: 20px;
    &:hover {
      color: #f28316;
    }
  }
}
