body:has(.header) {
  padding-top: 60px;

  @include --max-lg {
    padding-top: 88px;
  }
}

.header {
  background: #fff;

  @include --lg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin-right: var(--removed-body-scroll-bar-size, 0);
    z-index: 50;
  }
}

.header-layout {
  @include --lg {
    display: grid;
    grid-template-columns: 183px 16px 44px 16px 1fr 20px 200px 20px 166px 2px 44px;
    grid-template-rows: 1fr;
    gap: 0;
    align-items: center;
    // position: relative;
    // z-index: 1;
    // &::before {
    //   content: '';
    //   position: absolute;
    //   left: 0;
    //   top: 0;
    //   right: 0;
    //   bottom: 0;
    //   background: #fff;
    //   z-index: -1;
    //   border-bottom: 1px solid rgba(191, 191, 191, 0.478);
    // }
  }
  @include --xl {
    grid-template-columns: 183px 16px 44px 16px 1fr 24px 214px 24px 166px 2px 44px;
  }
  @include --2xl {
    grid-template-columns: 183px 20px 44px 20px 1fr 44px 248px 44px 188px 4px 44px;
  }
  @include --3xl {
    grid-template-columns: 183px 20px 44px 20px 1fr 40px 248px 24px 270px 4px 140px 4px 44px;
  }
}

.header-layout__first {
  display: grid;
  grid-template-rows: 1fr;
  gap: 0;
  align-items: center;
  grid-area: first;
  grid-template-areas: 'hamburger . logo . cart';
  grid-template-columns: 44px 1fr 183px 1fr 44px;
  border-bottom: 1px solid rgba(191, 191, 191, 0.478);
  padding: 4px var(--container-padding);
  background: #fff;
  position: fixed;
  top: 36px;
  left: 0;
  right: var(--removed-body-scroll-bar-size, 0);
  z-index: 110;

  @include --lg {
    position: relative;
    left: auto;
    top: auto;
    right: auto;
    padding: 8px 0;
    grid-area: 1 / 1 / 2 / 12;
    grid-template-columns: 183px 16px 44px 1fr 44px;
    grid-template-areas: 'logo . hamburger . cart';
  }
  @include --2xl {
    grid-template-columns: 183px 20px 44px 1fr 44px;
  }
  @include --3xl {
    grid-area: 1 / 1 / 2 / 14;
  }
}

.header-layout__logo {
  grid-area: logo;
}

.header-layout__hamburger {
  grid-area: hamburger;
}

.header-layout__cart {
  grid-area: cart;
}

.header-layout__second {
  grid-area: second;
  background: #585858;
  position: fixed;
  top: 0;
  left: 0;
  right: var(--removed-body-scroll-bar-size, 0);
  padding: 2px var(--container-padding);
  z-index: 120;
  display: grid;
  grid-template-rows: 1fr;
  align-items: center;
  gap: 0;
  grid-template-areas: 'contacts . actions';
  grid-template-columns: auto 1fr auto;

  @include --lg {
    position: relative;
    left: auto;
    top: auto;
    right: auto;
    padding: 0;
    background: transparent;
    grid-area: 1 / 7 / 2 / 10;
    grid-template-columns: 200px 20px 166px;
  }
  @include --xl {
    grid-template-columns: 214px 24px 166px;
  }
  @include --2xl {
    grid-template-columns: 248px 44px 188px;
  }
  @include --3xl {
    grid-template-columns: 248px 1fr 140px;
    grid-area: 1 / 7 / 2 / 12;
  }
}

.header-layout__contacts {
  grid-area: contacts;
}

.header-layout__actions {
  grid-area: actions;
}

.header-layout__third {
  position: relative;
  z-index: 100;

  @include --lg {
    grid-area: 1 / 5 / 2 / 6;
    z-index: 130;
  }
}

.header-layout__fourth {
  position: fixed;
  top: 36px;
  left: 0;
  right: var(--removed-body-scroll-bar-size, 0);
  z-index: 100;
  border-bottom: 1px solid rgba(191, 191, 191, 0.478);
  padding: 4px var(--container-padding);
  background: #fff;
  transition: 0.3s ease;
  &[data-state='opened'] {
    transform: translateY(100%);
  }
  @include --lg {
    position: relative;
    left: auto;
    top: auto;
    right: auto;
    grid-area: 1 / 1 / 2 / 12;
    padding: 8px 0;
  }
  @include --3xl {
    grid-area: 1 / 9 / 2 / 10;
    z-index: 140;
    padding: 0;
    border: none;
  }
}

.header-logo {
  display: flex;

  img {
    max-width: 100%;
    height: auto;
  }
}

.header-toggle {
  border: none;
  padding: 0;
  border-radius: 8px;
  // background-color: rgb(239, 222, 0);
  background: linear-gradient(
    53deg,
    rgb(255, 248, 58) 0%,
    rgb(255, 223, 44) 25%,
    rgb(239, 222, 0) 75%,
    rgb(239, 222, 0) 100%
  );
  background-size: calc(44px * 8) 44px;
  background-position: 100% 0;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  transition: 0.3s ease;
  cursor: pointer;

  &:hover {
    // background-image: linear-gradient(53deg, rgb(255, 248, 58) 0%, rgb(255, 223, 44) 100%);
    background-position: 0 0;
    box-shadow: -0.139px 0.99px 6.86px 0.14px rgba(5, 85, 104, 0.35);
  }
}

.header-cart {
  border: 2px solid rgb(6, 153, 188);
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  box-sizing: border-box;
  color: rgb(6, 153, 188);
}

.header-cart:hover {
  border-color: rgb(2, 131, 162);
  color: rgb(2, 131, 162);
}

.header-cart_not-empty {
  // background-color: rgb(2, 131, 162);
  // color: rgb(2, 131, 162);
}

.header-cart__count,
.header-cart__price {
  position: absolute;
  font-size: 10px;
  color: #000;
  text-align: center;
  background: #efde00;
  box-sizing: border-box;
  white-space: nowrap;
  display: none;

  .full & {
    display: block;
  }
}

.header-cart__count {
  top: 4px;
  right: 0;
  padding: 0 2px;
  min-width: 16px;
  border-radius: 8px;
  height: 16px;
  line-height: 16px;
}

.header-cart__price {
  bottom: -10px;
  right: -2px;
  padding: 0 6px;
  border-radius: 8px;
  height: 18px;
  line-height: 18px;
}

.header-menu {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  column-gap: 24px;
  white-space: nowrap;

  @include --max-2xl {
    column-gap: 12px;
  }
  @include --max-lg {
    justify-content: space-between;
    border-bottom: 1px solid rgba(191, 191, 191, 0.478);
    margin-left: calc(var(--container-padding) * -1);
    margin-right: calc(var(--container-padding) * -1);
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
    column-gap: 0;
  }
}

.header-menu li {
  @include --max-lg {
    padding: 5px 0;
  }
  @include --max-sm {
    display: flex;
    &:nth-child(1) {
      width: 33.33%;
      display: flex;
      justify-content: flex-start;
    }
    &:nth-child(2) {
      width: 33.33%;
      justify-content: center;
    }
    &:nth-child(3) {
      width: 33.33%;
      justify-content: flex-end;
    }
    &:nth-child(4) {
      width: 50%;
      justify-content: flex-start;
    }
    &:nth-child(5) {
      width: 50%;
      justify-content: flex-end;
    }
  }
}

.header-menu li a {
  font-size: 14px;
  color: rgb(76, 76, 76);
  text-transform: uppercase;
  line-height: 20px;
  display: block;
  padding: 0;
  text-decoration: none;
  letter-spacing: -0.005em;

  &:hover {
    color: #f18a16;
  }

  @include --max-2xl {
    font-size: 13px;
  }
}

.header-contacts {
  display: grid;
  grid-template-columns: auto 4px auto 16px auto;
  grid-template-areas: 'a . b . c';
  font-size: 10px;
  color: rgb(183, 180, 180);
  line-height: 1.2;
  white-space: nowrap;

  @include --lg {
    grid-template-columns: auto 4px auto 1fr auto;
    color: rgb(76, 76, 76);
    font-size: 13px;
  }
  @include --xl {
    font-size: 14px;
    grid-template-columns: auto 8px auto 1fr auto;
  }
}

.header-contacts__label {
  grid-area: a;
  color: inherit;
  text-decoration: none;

  &:hover {
    color: #f18a16;
  }
}

.header-contacts__city {
  grid-area: b;
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid color-mix(in srgb, currentColor 50%, transparent);

  &:hover {
    color: #f18a16;
  }
}

.header-contacts__more {
  grid-area: c;
  color: inherit;
  text-decoration: none;
  margin-left: auto;
  border-bottom: 1px dashed color-mix(in srgb, currentColor 50%, transparent);

  &:hover {
    color: #f18a16;
  }
}

.header-actions {
  display: flex;

  @include --lg {
    gap: 2px;
  }
  @include --2xl {
    gap: 4px;
  }
}

.header-actions__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  color: #8f8f8f;
  border-radius: 50%;
  padding: 0;
  background: transparent;
  position: relative;
  @include --hover {
    background: #8f8f8f;
    color: #585858;
  }
  @include --lg {
    width: 40px;
    height: 40px;
    @include --hover {
      background: #f5f5f5;
      color: #777777;
    }
  }
  @include --2xl {
    width: 44px;
    height: 44px;
  }
}

.header-actions__button [data-msfavorites-indicator]::before {
  content: attr(data-msfavorites-indicator);
}

.header-actions__button [data-msfavorites-indicator='0'] {
  display: none;
}

.header-actions__button:has([data-msfavorites-indicator]:not([data-msfavorites-indicator='0'])) {
  color: #efde00;
  @include --hover {
    background: #8f8f8f;
    color: #efde00;
  }
  @include --lg {
    color: #0699bc;
    @include --hover {
      background: #f5f5f5;
      color: #0699bc;
    }
  }
}

.header-actions__button [data-mscomparison-indicator]::before {
  content: attr(data-mscomparison-indicator);
}

.header-actions__button [data-mscomparison-indicator='0'] {
  display: none;
}

.header-actions__button:has([data-mscomparison-indicator]:not([data-mscomparison-indicator='0'])) {
  color: #efde00;
  @include --hover {
    background: #8f8f8f;
    color: #efde00;
  }
  @include --lg {
    color: #0699bc;
    @include --hover {
      background: #f5f5f5;
      color: #0699bc;
    }
  }
}

.header-actions__button span {
  position: absolute;
  border-radius: 8px;
  padding: 0 2px;
  height: 12px;
  font-size: 9px;
  color: #000;
  line-height: 12px;
  text-align: center;
  background: #efde00;
  box-sizing: border-box;
  white-space: nowrap;
  top: 2px;
  right: 2px;
  min-width: 12px;
  box-shadow: 0 0 0 1px #585858;

  @include --lg {
    box-shadow: none;
    height: 16px;
    font-size: 10px;
    min-width: 16px;
    top: 4px;
    right: 0;
    line-height: 16px;
  }
}

.header-actions__button_search {
  &[data-state='opened'] {
    background: #8f8f8f;
    color: #585858;
  }
  @include --lg {
    &[data-state='opened'] {
      background: #f5f5f5;
      color: #777777;
    }
  }
  @include --3xl {
    display: none;
  }
}

.header-search {
  position: relative;
}

.header-search__input {
  font-size: 14px;
  color: rgb(155, 155, 155);
  height: 44px;
  background: #f7f7f7;
  border-radius: 22px;
  border: none;
  padding: 0 64px 0 20px;
  position: relative;
  z-index: 1;
  display: block;
  width: 100%;
  box-sizing: border-box;
  border: 2px solid #f7f7f7;

  &:focus {
    outline: none;
    border-color: #0699bc;
  }
}

.header-search__submit {
  width: 44px;
  height: 44px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  color: #fff;
  background: #0699bc;
  border-radius: 22px;
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  cursor: pointer;

  &:hover {
    background: #0283a2;
  }
}
