.order-layout {
  display: flex;
  gap: 64px;
  margin-bottom: 96px;

  @include --max-xl {
    gap: 48px;
  }
  @include --max-lg {
    gap: 36px;
  }
  @include --max-md {
    flex-wrap: wrap;
    gap: 16px;
  }
}

.order-layout__main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 36px;

  @include --max-md {
    gap: 24px;
  }
}

.order-layout__side {
  width: 320px;
  flex-shrink: 0;

  @include --max-xl {
    width: 280px;
  }
  @include --max-lg {
    width: 264px;
  }
  @include --max-md {
    width: 100%;
  }
}

.order-side {
  position: sticky;
  top: 81px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  @include --max-lg {
    top: 101px;
  }
}

.order-total {
  border: 1px solid #e3e3e3;
  background: #f8f8f8;
  border-radius: 12px;
  padding: 32px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 12px;

  @include --max-xl {
    padding: 24px 16px;
    gap: 8px;
  }
}

.order-total__divider {
  width: 100%;
}

.order-total__title {
  font-size: 18px;
  text-transform: uppercase;
  color: #000000;
  font-weight: 700;
  line-height: 1;

  @include --max-xl {
    font-size: 14px;
  }
}

.order-total__count {
  font-size: 16px;
  color: #3a3a3a;
  line-height: 1;

  @include --max-xl {
    font-size: 12px;
  }
}

.order-total__total {
  font-size: 18px;
  color: #3a3a3a;
  font-weight: 500;
  line-height: 1;

  @include --max-xl {
    font-size: 14px;
  }
}

.order-total__cost {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.order-total__cost-value {
  font-size: 20px;
  color: #0699bc;
  font-weight: 500;
  line-height: 1;

  @include --max-xl {
    font-size: 16px;
  }
}

.order-total__cost-desc {
  font-size: 14px;
  color: #3a3a3a;
  line-height: 1;
  margin-top: 4px;

  @include --max-xl {
    font-size: 12px;
  }
}

.order-conditions {
  position: relative;
  border-radius: 12px;
  padding: 16px 24px;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;

  &:hover {
    background: #f8f8f8;
  }

  @include --max-xl {
    padding: 12px 16px;
    gap: 8px;
  }

  @include --max-md {
    order: -1;
    padding: 0;
  }
}

.order-conditions__control {
  align-self: flex-start;
  position: relative;
  width: 20px;
  height: 20px;
  display: block;
  flex-shrink: 0;
  border-radius: 2px;
  border: 1px solid #beced6;

  input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    box-sizing: border-box;
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 2px;
  }

  &::after {
    content: '';
    display: none;
    width: 14px;
    height: 8px;
    margin-top: -3px;
    box-sizing: border-box;
    border-left: 3px solid #0699bc;
    border-bottom: 3px solid #0699bc;
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  &:has(input:checked)::after {
    display: block;
  }

  @include --max-xl {
    width: 18px;
    height: 18px;
    &::after {
      width: 12px;
      height: 6px;
      margin-top: -2px;
      border-left-width: 3px;
      border-bottom-width: 3px;
    }
  }
}

.order-conditions__label {
  display: block;
  font-size: 14px;
  line-height: 1;
  color: #9d9d9d;

  a {
    color: #007be4;
    &:hover {
      color: #f18a16;
    }
  }

  @include --max-xl {
    font-size: 12px;
  }
}

.order-groups {
  display: grid;
  grid-template-columns: auto auto;
  gap: 36px;

  @include --max-xl {
    gap: 24px;
  }

  @include --max-xl {
    grid-template-columns: auto;
    gap: 36px;
  }
}

.order-group_wide {
  grid-column: span 2 / span 2;
}

.order-radiobox {
  display: flex;
  gap: 12px;
  min-height: 36px;
  padding: 0;
  align-items: center;
  cursor: pointer;

  @include --max-xl {
    min-height: 32px;
    gap: 8px;
  }
}

.order-radiobox:has(input:checked) {
  .order-radiobox__label {
    color: #000;
  }
  .order-radiobox__control::after {
    display: block;
  }
}

.order-radiobox:has(input:disabled) {
  .order-radiobox__label {
    color: #bababa;
  }
  .order-radiobox__control::before {
    background: #f5f5f5;
  }
}

.order-radiobox__price {
  font-weight: 500;
  position: relative;
  white-space: nowrap;
  padding: 0 8px;

  &:has(.order-radiobox__price-value:empty) {
    display: none;
  }

  @include --max-xl {
    padding: 0 4px;
  }
}

.order-radiobox__control {
  position: relative;
  width: 28px;
  height: 28px;
  flex-shrink: 0;
  margin: 4px 0;
  box-sizing: border-box;
  border-radius: 50%;
  border: 1px solid #e4e4e4;
  align-self: flex-start;

  @include --max-xl {
    width: 24px;
    height: 24px;
  }
}

.order-radiobox__control input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border-radius: 50%;
  z-index: 1;
}

.order-radiobox__control::before {
  content: '';
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  z-index: 2;
  background: #fff;
}

.order-radiobox__control::after {
  content: '';
  display: none;
  left: 50%;
  top: 50%;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-top: -6px;
  margin-left: -6px;
  position: absolute;
  z-index: 3;
  background: #0699bc;
}

.order-radiobox__content {
  display: block;
  line-height: 18px;
  font-size: 16px;
  text-wrap: balance;

  @include --max-xl {
    font-size: 14px;
    line-height: 16px;
  }
}

.order-radiobox__label {
  color: #656565;
  span {
    font-style: italic;
    color: #bababa;
  }
}

.order-group__title {
  font-size: 18px;
  margin-bottom: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: #000000;
  font-weight: 700;

  @include --max-xl {
    font-size: 16px;
    line-height: 20px;
  }

  @include --max-md {
    line-height: 28px;
    border-bottom: 1px solid #f3f3f3;
    margin-bottom: 8px;
  }
}

.order-group__desc {
  font-size: 14px;
  color: #37bc21;
  line-height: 18px;
  margin: 16px 0;

  &_danger {
    color: #bb0000;
  }

  @include --max-xl {
    font-size: 12px;
    line-height: 14px;
  }

  @include --max-md {
    margin: 8px 0 12px;
  }
}

.order-radioboxes {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.order-textfields {
  display: flex;
  flex-direction: column;
  gap: 12px;

  @include --max-md {
    gap: 4px;
  }
}

.order-textfield {
  display: flex;
  align-items: flex-start;
  gap: 12px;
}

.order-textfield:has(input:disabled) {
  display: none;
}

.order-textfield__label {
  font-size: 16px;
  line-height: 1;
  color: #9c9c9c;
  width: 112px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  height: 36px;

  @include --max-xl {
    font-size: 14px;
    height: 32px;
    width: 96px;
  }

  @include --max-md {
    height: 36px;
  }
}

#msOrder .order-textfield__label .required-star {
  color: #ff0000;
}

.order-textfield__control {
  padding: 0 16px;
  min-height: 36px;
  font-size: 16px;
  line-height: 1;
  border-radius: 4px;
  background-color: #f8f8f8;
  border: 1px solid #e3e3e3;
  box-sizing: border-box;
  flex-grow: 1;
  min-width: 0;

  &:disabled {
    opacity: 0.4;
  }

  @include --max-xl {
    padding: 0 12px;
    min-height: 32px;
    font-size: 14px;
    width: 160px;
  }

  @include --max-md {
    min-height: 36px;
  }
}

textarea.order-textfield__control {
  padding-top: 8px;
  padding-bottom: 8px;
}

.order-country {
}

.order-country__title {
  font-size: 18px;
  margin-bottom: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: #000000;
  font-weight: 700;

  @include --max-xl {
    font-size: 16px;
    line-height: 20px;
  }
}

.order-country__controls {
  display: flex;
  align-items: center;
  gap: 64px;

  @include --max-xl {
    gap: 48px;
  }
  @include --max-md {
    gap: 8px;
  }
}

.order-country__control {
  display: flex;
  gap: 12px;
  align-items: center;
  cursor: pointer;
  border: none;
  padding: 0;
  min-height: 36px;
  background: transparent;

  &[data-status='active'] .order-country__control-radio::before {
    display: block;
  }

  @include --max-xl {
    min-height: 32px;
  }

  @include --max-md {
    gap: 4px;
  }
}

.order-country__control-radio {
  position: relative;
  width: 28px;
  height: 28px;
  margin: 4px 0;
  align-self: flex-start;
  flex-shrink: 0;
  box-sizing: border-box;
  border-radius: 50%;
  border: 1px solid #e4e4e4;

  &::before {
    content: '';
    display: none;
    left: 50%;
    top: 50%;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-top: -6px;
    margin-left: -6px;
    position: absolute;
    z-index: 3;
    background: #0699bc;
  }

  @include --max-xl {
    width: 24px;
    height: 24px;
  }
}

.order-country__control-label {
  font-size: 18px;
  color: #656565;
  display: block;
  line-height: 18px;
  text-wrap: balance;

  @include --max-xl {
    font-size: 16px;
    line-height: 16px;
  }
  @include --max-md {
    font-size: 14px;
    line-height: 16px;
  }
}

.order-invoice {
  display: flex;
  gap: 8px;
  flex-grow: 1;
  flex-direction: column;

  @include --max-md {
    gap: 4px;
  }
}

.order-invoice__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.order-invoice__row-remove {
  width: 36px;
  height: 36px;
  position: relative;
  cursor: pointer;
  color: #333;
  border-radius: 4px;
  border: 2px solid #e3e3e3;
}

.order-invoice__row-remove::before {
  content: '';
  width: 14px;
  height: 2px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  background: currentColor;
}

.order-invoice__row-remove::after {
  content: '';
  width: 14px;
  height: 2px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background: currentColor;
}

.order-invoice__row-title {
  flex-grow: 1;
  position: relative;
}

.order-invoice__row-title-inner {
  text-overflow: ellipsis;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  white-space: nowrap;
  line-height: 1;
  font-size: 14px;
}

.order-invoice__list {
  display: flex;
  gap: 8px;
  flex-grow: 1;
  flex-direction: column;

  @include --max-md {
    gap: 4px;
  }
}

@keyframes dots {
  0% {
    content: "";
  }
  25% {
    content: ".";
  }
  50% {
    content: "..";
  }
  75% {
    content: "...";
  }
  100% {
    content: "...";
  }
}

.order-invoice__add {
  flex-grow: 1;
  position: relative;
}

// .order-invoice__add span {
//   position: absolute;
//   left: 16px;
//   right: 16px;
//   top: 50%;
//   transform: translateY(-50%);
//   text-overflow: ellipsis;
//   overflow: hidden;
// }

[data-order-invoice-file] {
  display: none;
}

.order-invoice__add[data-order-invoice-loading]::after {
  content: "";
  animation: dots 1.5s linear infinite;
  display: block;
  width: 15px;
  flex-shrink: 0;
  text-align: left;
  margin-right: -10px;
}

// .order-invoice__remove {
// }
