.product-card {
  position: relative;
  padding: 12px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  box-sizing: border-box;
  min-width: 0;

  @include --max-xl {
    padding: 6px;
  }

  .quantity {
    width: 72px;
    height: 44px;

    @include --max-xl {
      width: 44px;
      height: 30px;
    }
  }

  .quantity__input {
    font-size: 14px;
    padding-left: 6px;
    padding-right: 36px;

    @include --max-xl {
      font-size: 12px;
      padding-right: 18px;
      padding-left: 2px;
    }
  }

  .quantity__plus,
  .quantity__minus {
    width: 30px;

    @include --max-xl {
      width: 16px;
      font-size: 14px;
    }
  }
}

.product-card::before {
  content: '';
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 5px rgba(4, 2, 24, 0.13);
  position: absolute;
  // left: 0;
  // top: 0;
  // right: 0;
  // bottom: 0;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: 0.3s ease;
  will-change: transform, height, width;

  @include --max-xl {
    border-radius: 4px;
  }
}

@media (hover: hover) {
  .product-card:hover::before {
    // transform: scale(1.06, 1.05);
    width: calc(100% + 20px);
    height: calc(100% + 20px);
  }
}

.product-card__form {}

.product-card__flags {
  position: absolute;
  left: 12px;
  top: 12px;
  display: flex;
  flex-direction: column;
  gap: 3px;

  @include --max-xl {
    gap: 2px;
    left: 6px;
    top: 6px;
  }
}

.product-card__flag {
  font-size: 10px;
  text-transform: uppercase;
  font-weight: bold;
  border-width: 2px;
  border-style: solid;
  height: 16px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  text-align: center;
  min-width: 32px;
  border-radius: 4px;
  padding: 0 2px;

  &_new {
    color: #000;
    background-color: #5fd7f6;
    border-color: #5fd7f6;
  }

  &_popular {
    color: #f18a16;
    border-color: #f18a16;
  }

  &_sale {
    color: #fff;
    background-color: #fe0000;
    border-color: #fe0000;
  }
}

.product-availability {
  position: absolute;
  left: 12px;
  top: 12px;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: bold;
  border-width: 2px;
  border-style: solid;
  height: 16px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  text-align: center;
  min-width: 32px;
  border-radius: 4px;
  padding: 0 2px;
  color: #fff;
  background-color: #8d8d8d;
  border-color: #8d8d8d;

  @include --max-xl {
    left: 6px;
    top: 6px;
  }
}

.product-card__actions {
  position: absolute;
  top: 6px;
  right: 6px;
  display: flex;
  flex-direction: column;

  @include --max-xl {
    right: 2px;
    top: 2px;
  }
}

.product-card__actions button {
  border: none;
  background: transparent;
  color: #8d8d8d;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0;

  &[data-msfavorites-state='active'] {
    color: #0699bc;
  }

  &[data-mscomparison-state='active'] {
    color: #0699bc;
  }

  @include --hover {
    color: #f28316;
  }

  @include --max-xl {
    width: 28px;
    height: 28px;
  }
}

.product-card__prices {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 12px;
  row-gap: 4px;

  @include --max-xl {
    column-gap: 8px;
    row-gap: 4px;
  }
}

.product-card__price {
  font-size: 24px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  line-height: 1;

  @include --max-xl {
    font-size: 14px;
  }
}

.product-card__old-price {
  font-size: 16px;
  color: #9c9c9c;
  // text-decoration: line-through;
  line-height: 1;

  @include --max-xl {
    font-size: 10px;
  }
}

.product-card__content {
  margin-top: 12px;
  flex-grow: 1;
  width: 100%;
  overflow: hidden;

  @include --max-xl {
    margin-top: 8px;
  }
}

.product-card__title {
  display: block;
  font-size: 18px;
  color: #000;
  text-decoration: none;
  line-height: 20px;

  @include --hover {
    color: #f18a16;
  }

  @include --max-xl {
    font-size: 12px;
    line-height: 1.15;
  }
}

.product-card__article {
  font-size: 14px;
  line-height: 1;
  margin-top: 12px;
  color: #9c9c9c;

  a {
    color: inherit;
    text-decoration: none;
  }

  span {
    display: inline-flex;
    gap: 2px;
    align-items: center;
    cursor: pointer;

    &::after {
      content: '';
      display: inline-flex;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cpath fill='#9c9c9c' fill-rule='evenodd' d='M4 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 5a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1v-1h1v1a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h1v1z'/%3E%3C/svg%3E");
      width: 14px;
      height: 14px;
      background-size: cover;
    }
  }

  @include --max-xl {
    font-size: 11px;
    margin-top: 4px;
  }
}

.product-card__controls {
  margin-top: 12px;
  display: grid;
  gap: 10px;
  grid-template-columns: 44px 72px 1fr;

  @include --max-xl {
    gap: 6px;
    grid-template-columns: 30px 44px 1fr;
    margin-top: 8px;
  }

  @include --max-md {
    gap: 3px;
    grid-template-columns: 44px 1fr;
  }
}

.button-buyoneclick {
  background: #f4f4f4;
  color: #8d8d8d;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  width: 48px;
  border-radius: 4px;
  border: 1px solid #e3e3e3;
  box-sizing: border-box;
  flex-shrink: 0;
  padding: 0;
  cursor: pointer;
  font-size: 16px;

  @include --hover {
    background: #e8e8e8;
    color: #686868;
  }

  @include --max-md {
    display: none;
  }

  .product-card & {
    height: 44px;
    width: 44px;

    @include --max-xl {
      height: 30px;
      width: 30px;

      svg {
        width: 14px;
        height: 14px;
      }
    }
  }
}

.button-addedcart {
  background: #ffed00;
  color: #383838;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  height: 52px;
  padding: 0 24px;
  border-radius: 12px;
  text-transform: uppercase;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 16px;
  white-space: nowrap;
  font-weight: 500;

  [data-product-form]:not([data-product-form-status='added']) & {
    display: none;
  }

  svg {
    margin-top: -2px;
  }

  @include --hover {
    background: #eed20e;
    color: #000;
  }

  @include --max-lg {
    font-size: 14px;
    height: 48px;
    padding: 0 12px;
  }

  .product-card & {
    gap: 4px;
    padding: 0 12px;
    border-radius: 4px;
    height: 44px;
    text-transform: initial;

    @include --max-xl {
      font-size: 12px;
      height: 30px;
      gap: 2px;

      svg {
        width: 14px;
        height: 14px;
      }
    }

    @include --max-md {
      padding-left: 4px;
      padding-right: 4px;
    }
  }
}

.button-addtocart {
  background: #0699bc;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  height: 52px;
  padding: 0 24px;
  border-radius: 12px;
  border: none;
  box-sizing: border-box;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 16px;
  white-space: nowrap;
  font-weight: 500;

  [data-product-form]:not([data-product-form-status='ready']) & {
    display: none;
  }

  svg {
    margin-top: -2px;
  }

  @include --hover {
    background: #0283a2;
  }

  @include --max-lg {
    font-size: 14px;
    height: 48px;
    padding: 0 12px;
  }

  .product-card & {
    gap: 4px;
    padding: 0 12px;
    border-radius: 4px;
    height: 44px;
    text-transform: initial;

    @include --max-xl {
      font-size: 12px;
      height: 30px;
      gap: 2px;

      svg {
        width: 14px;
        height: 14px;
      }
    }

    @include --max-md {
      padding-left: 4px;
      padding-right: 4px;
    }
  }
}

.button-expected {
  background: #8d8d8d;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  height: 52px;
  padding: 0 24px;
  border-radius: 12px;
  border: none;
  box-sizing: border-box;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 16px;
  white-space: nowrap;
  font-weight: 500;

  [data-product-form]:not([data-product-form-status='expected']) & {
    display: none;
  }

  svg {
    margin-top: -2px;
  }

  @include --hover {
    background: #7e7e7e;
  }

  @include --max-lg {
    font-size: 14px;
    height: 48px;
    padding: 0 12px;
  }

  .product-card & {
    gap: 4px;
    padding: 0 12px;
    border-radius: 4px;
    height: 44px;
    text-transform: initial;

    @include --max-xl {
      font-size: 12px;
      height: 30px;
      gap: 2px;

      svg {
        width: 14px;
        height: 14px;
      }
    }

    @include --max-md {
      padding-left: 4px;
      padding-right: 4px;
    }
  }
}

.product-card__image {
  display: block;
  width: 240px;
  height: 240px;
  margin: 0 auto 12px;
  position: relative;
  user-select: none;

  img {
    max-width: 100%;
    height: auto;
    display: block;
  }

  @include --max-xl {
    width: 180px;
    height: 180px;
  }

  @include --max-md {
    width: 130px;
    height: 130px;
  }
}

.image-flipper {
  display: block;
  position: relative;
  width: 240px;
  height: 240px;
  transform-style: preserve-3d;
  transition: 0.3s linear;

  @include --max-xl {
    width: 180px;
    height: 180px;
  }

  @include --max-md {
    width: 130px;
    height: 130px;
  }
}

@media (hover: hover) {
  .product-card__image:hover .image-flipper {
    transform: rotateY(180deg);
  }
}

.image-flipper_turned {
  transform: rotateY(180deg);
}

.image-flipper__side {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.image-flipper__side:first-child {
  z-index: 2;
  transform: rotateY(0deg);
}

.image-flipper__side:last-child {
  transform: rotateY(-180deg);
}

.image-flipper__side img {
  display: block;
  max-width: 100%;
  height: auto;
}

.product-options {}

.product-option {}

.product-option__label {
  font-size: 14px;
  line-height: 1;
  padding-bottom: 12px;
  display: block;
}

.product-option__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
}

.product-option__item {
  width: calc(var(--option-items-size) * 1);
  position: relative;
  cursor: pointer;

  input {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    appearance: none;
    border: none;
    background: transparent;
    border-radius: 0;
  }

  span {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 40px;
    min-width: 40px;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 1;
    font-weight: 700;
    padding: 0 12px;
    border: 2px solid #e3e3e3;
    border-radius: 6px;
    background: #fff;
    color: #000;
  }

  input:checked+span {
    color: #fff;
    background: #0699bc;
    border-color: #0699bc;
  }

  &:hover span {
    background: #fff;
    border-color: #ffed00;
  }
}

.modal-options__submit {
  margin-top: 16px;
  display: flex;

  >* {
    flex-grow: 1;
  }
}

.modal-options__product {
  margin-top: 12px;
  display: flex;

  >* {
    flex-grow: 1;
  }
}

.cart-success {}

.cart-success__product {
  display: flex;
  align-items: center;
  gap: 32px;

  @include --max-md {
    flex-direction: column;
    gap: 16px;
  }
}

.cart-success__product-image {
  display: flex;
  width: 160px;
  flex-shrink: 0;

  img {
    max-width: 100%;
    height: auto;
  }

  @include --max-md {
    width: 120px;
  }
}

.cart-success__product-info {}

.cart-success__product-desc {
  line-height: 1.333;
  font-size: 18px;

  a {
    text-decoration: underline;
    color: inherit;
    display: inline-block;

    &:hover {
      color: #f18a16;
    }
  }

  @include --max-md {
    text-align: center;
  }
}

.cart-success__product-totals {
  margin-top: 24px;
  font-size: 24px;
  line-height: 1;

  @include --max-md {
    text-align: center;
    margin-top: 16px;
  }
}

.cart-success__footer {
  display: flex;
  gap: 16px;
  margin-top: 24px;
  align-items: center;

  >* {
    flex-grow: 1;
  }

  @include --max-md {
    flex-direction: column-reverse;
    margin-top: 16px;
    gap: 12px;
    align-items: normal;
  }
}