.product-layout {
  display: grid;
  grid-template-columns: 600px 60px 1fr 60px 280px;
  grid-template-rows: auto 40px auto 80px 1fr;
  grid-auto-columns: 1fr;
  gap: 0;
  grid-auto-flow: row;
  grid-template-areas:
    'gallery . headline . similar'
    'gallery . . . similar'
    'gallery . price . similar'
    'gallery . . . similar'
    'gallery . description . similar';
  margin-top: 20px;
  margin-bottom: 48px;

  @include --max-3xl {
    grid-template-columns: 500px 40px 1fr 40px 280px;
  }
  @include --max-2xl {
    grid-template-columns: 540px 60px 1fr;
    grid-template-areas:
      'gallery . headline'
      'gallery . .'
      'gallery . price'
      'gallery . .'
      'gallery . description';
  }
  @include --max-xl {
    grid-template-columns: 420px 40px 1fr;
  }
  @include --max-lg {
    grid-template-columns: 40% 40px 1fr;
    grid-template-rows: auto 40px auto 40px 1fr;
  }
  @include --max-md {
    margin-top: 12px;
    grid-template-columns: 1fr;
    grid-template-rows: auto 12px auto 32px auto 32px auto;
    grid-template-areas:
      'headline'
      '.'
      'gallery'
      '.'
      'price'
      '.'
      'description';
  }
}

.product-layout__headline {
  grid-area: headline;
}

.product-layout__price {
  grid-area: price;
}

.product-layout__description {
  grid-area: description;
}

.product-layout__similar {
  grid-area: similar;

  @include --max-2xl {
    display: none;
  }
}

.product-layout__gallery {
  grid-area: gallery;
  min-width: 0;
}

.product-media {
  position: sticky;
  top: 81px;
  width: 100%;

  &:has([data-product-gallery-fullscreen]) {
    position: static;
  }

  @include --max-lg {
    top: 101px;
  }
}

.product-gallery {
  position: relative;
  z-index: 1;
  
  &[data-product-gallery-fullscreen] {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 220;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 12px;
    background: #0009;
  }
}

.product-gallery__close {
  display: none;
  width: 46px;
  height: 46px;
  position: absolute;
  top: 12px;
  right: 12px;
  z-index: 2;
  border: 0;
  padding: 0;
  cursor: pointer;
  color: #fff;
  background: #0003;
  &:hover {
    background-color: #0000004d;
  }
  &::before,
  &::after {
    content: '';
    width: 50%;
    height: 2px;
    background: currentColor;
    position: absolute;
    left: 50%;
    top: 50%;
  }
  &::before {
    transform: translate(-50%, -50%) rotate(45deg);
  }
  &::after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  [data-product-gallery-fullscreen] & {
    display: block;
  }
}

.product-gallery-main {
  --carousel-gap: 24px;
  --carousel-columns: 1;

  min-height: 0;
  min-width: 0;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
  [data-product-gallery-fullscreen] & {
    flex-grow: 1;
  }
}

.product-gallery-main__viewport {
  overflow: hidden;
}

.product-gallery-main__container {
  display: flex;
  grid-column-gap: var(--carousel-gap);
  height: 100%;
}

.product-gallery-main__slide {
  flex: 0 0 calc(100% / var(--carousel-columns) - var(--carousel-gap) * (var(--carousel-columns) - 1) / var(--carousel-columns));
  min-width: 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  aspect-ratio: 10/8;
  img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    user-select: none;
  }
  @include --max-xl {
    aspect-ratio: 10 / 10;
  }
}

.product-gallery-main__prev,
.product-gallery-main__next {
  position: absolute;
  top: 50%;
  height: 46px;
  margin-top: calc(0px - (46px / 2));
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  border-radius: 50%;
  box-shadow: 0 0 9px #00192914;
  background-color: #0003;
  border: none;
  filter: none;
  color: #fff;
  transition: .3s ease;
  &:hover {
    filter: none;
    box-shadow: 1px 8px 9px 0px rgba(0, 25, 41, 0.15);
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.product-gallery-main__prev {
  left: 20px;
  right: auto;
  @include --max-md {
    left: 0;
  }
  &::before {
    content: '';
    width: 12px;
    height: 12px;
    border-left: 2px solid currentColor;
    border-bottom: 2px solid currentColor;
    display: block;
    transform: rotate(45deg) translateX(0px);
    margin-left: 4px;
  }
}

.product-gallery-main__next {
  right: 20px;
  left: auto;
  @include --max-md {
    right: 0;
  }
  &::before {
    content: '';
    width: 12px;
    height: 12px;
    border-right: 2px solid currentColor;
    border-bottom: 2px solid currentColor;
    display: block;
    transform: rotate(-45deg) translateX(0px);
    margin-left: -4px;
  }
}

.product-gallery-thumbs {
  --carousel-gap: 12px;
  --carousel-columns: 5;

  min-height: 0;
  min-width: 0;
  position: relative;
  overflow: hidden;
  margin-top: 12px;

  [data-product-gallery-fullscreen] & {
    min-height: 80px;
    max-height: 80px;
  }
}

.product-gallery-thumbs__viewport {
  overflow: hidden;
}

.product-gallery-thumbs__container {
  display: flex;
  grid-column-gap: var(--carousel-gap);
}

.product-gallery-thumbs__slide {
  border: 1px solid #e3e3e3;
  box-sizing: border-box;
  position: relative;
  background: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1 / 1;
  flex: 0 0 calc(100% / var(--carousel-columns) - var(--carousel-gap)*(var(--carousel-columns) - 1) / var(--carousel-columns));

  [data-product-gallery-fullscreen] & {
    flex: 0 0 80px;
  }

  &:hover {
    img {
      opacity: 1;
    }
  }

  &.embla-thumbs__slide--selected {
    border-color: #0599bb;
    box-shadow: inset 0 0 0 1px #0599bb;

    img {
      opacity: 1;
    }
  }

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    user-select: none;
    opacity: 0.6;
  }

  &::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }
}

.product-flags {
  position: absolute;
  z-index: 2;
  left: 12px;
  top: 12px;
  display: flex;
  flex-direction: column;
  gap: 3px;

  @include --max-xl {
    gap: 2px;
    left: 6px;
    top: 6px;
  }
}

.product-flags__item {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  border-width: 2px;
  border-style: solid;
  height: 22px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  text-align: center;
  min-width: 42px;
  padding: 0 4px;
  border-radius: 4px;

  &_new {
    color: #000;
    background-color: #5fd7f6;
    border-color: #5fd7f6;
  }
  &_popular {
    color: #f18a16;
    background-color: #fff;
    border-color: #f18a16;
  }
  &_sale {
    color: #fff;
    background-color: #fe0000;
    border-color: #fe0000;
  }

  @include --max-md {
    font-size: 12px;
    min-width: 32px;
    height: 18px;
  }
}

.product-availability {
  position: absolute;
  width: 69px;
  height: 82px;
  overflow: hidden;
  left: 0;
  top: 0;
  border-radius: 10px 0 0 0;
  transition: 0.3s ease;
  will-change: left, top;
  span {
    position: absolute;
    z-index: 20;
    color: #fff;
    font-size: 14px;
    line-height: 1;
    top: 40px;
    left: 0;
    text-align: center;
    display: block;
    transform-origin: left;
    transform: rotate(-50deg);
  }
  &::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;
    width: 0;
    height: 0;
    border-top: 82px solid #e65100;
    border-right: 69px solid transparent;
  }
  .product-card:hover & {
    left: -10px;
    top: -10px;
  }
}

.product-back {
  font-size: 16px;
  line-height: 1;
  color: #585858;
  height: 32px;
  display: flex;
  align-items: center;
  position: relative;
  border: none;
  background: transparent;
  padding: 0 16px;
  margin: 0 -16px;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 16px;
  &:hover {
    filter: drop-shadow(0 0 2.5px rgba(0, 25, 41, 0.08));
    border-color: #e2e2df;
  }
  svg {
    margin-left: -6px;
    margin-right: 6px;
  }
  @include --max-lg {
    font-size: 12px;
    height: 24px;
    padding: 0 12px;
    margin: 0 -12px;
    border-radius: 12px;
    svg {
      margin-left: -4px;
      margin-right: 4px;
      width: 12px;
      height: 12px;
    }
  }
}

.product-title {
  font-size: 30px;
  text-transform: uppercase;
  color: #000000;
  line-height: 36px;
  font-weight: normal;
  margin: 12px 0;

  @include --max-lg {
    font-size: 16px;
    line-height: 20px;
  }
}

.product-rating {
}

.product-rating__stars {
  --size: 24px;

  width: calc(var(--size) * 5);
  height: var(--size);
  background: url('../images/star-gray.svg') repeat 0 0;
  background-size: var(--size) var(--size);
}

.product-rating__stars-fill {
  height: var(--size);
  background: url('../images/star.svg') repeat 0 0;
  background-size: var(--size) var(--size);
}

.product-meta {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto 12px auto;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  align-items: center;
  grid-template-areas:
    'rating . share'
    'rating . share'
    'rating . share';
  &:has(.product-meta__article) {
    grid-template-areas:
      'article . share'
      '. . .'
      'rating . .';
  }
  @include --max-lg {
    align-items: flex-start;
    &:has(.product-meta__article) {
      grid-template-areas:
        'article article article'
        '. . .'
        'rating . share';
    }
  }
}

.product-meta__article {
  grid-area: article;
  font-size: 14px;
  color: #acacbc;
  line-height: 1;

  @include --max-lg {
    font-size: 11px;
  }
}

.product-meta__rating {
  grid-area: rating;
}

.product-meta__share {
  grid-area: share;
  display: flex;
  gap: 12px;
  align-items: center;

  @include --max-lg {
    gap: 8px;
  }
}

.product-share {
  position: relative;
  z-index: 1;
  &:has(*:focus),
  &:hover {
    .product-share__title {
      color: #000;
    }
    .product-share__body {
      opacity: 1;
      visibility: visible;
    }
  }
  .ya-share2__container_size_m .ya-share2__badge .ya-share2__icon {
    height: 32px;
    width: 32px;
    background-size: 32px 32px;
  }
}

.product-share__title {
  position: relative;
  z-index: 2;
  font-size: 12px;
  line-height: 18px;
  color: #8d8d8d;
  display: flex;
  gap: 4px;
  height: 32px;
  padding: 0 6px;
  align-items: center;
  cursor: pointer;
  border: none;
  background: transparent;
  span {
    border-bottom: 1px dashed currentColor;
    display: inline-block;
  }
  @include --max-lg {
    font-size: 11px;
    line-height: 16px;
    height: 24px;
  }
}

.product-share__body {
  z-index: 1;
  position: absolute;
  right: -6px;
  top: 0;
  padding: 42px 12px 12px;
  background: #e2f3f7;
  width: 212px;
  border-radius: 8px;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease;

  @include --max-lg {
    right: -4px;
    top: -4px;
  }
}

.product-actions {
  display: flex;
  position: relative;
  z-index: 1;
  gap: 12px;
  button {
    border: none;
    background: transparent;
    color: #8d8d8d;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0;
    svg {
      width: 20px;
      height: 20px;
    }
    &[data-msfavorites-state='active'] {
      color: #0699bc;
    }
    &[data-mscomparison-state='active'] {
      color: #0699bc;
    }
    @include --hover {
      color: #f28316;
    }
    @include --max-lg {
      width: 24px;
      height: 24px;
    }
  }

  @include --max-lg {
    gap: 8px;
  }
}

.product-rating {
  display: flex;
  gap: 24px;
  align-items: center;

  @include --max-lg {
    flex-direction: column;
    gap: 4px;
    align-items: flex-start;
  }
}

.product-rating__reviews {
  display: inline-block;
  white-space: nowrap;
  font-size: 12px;
  line-height: 18px;
  color: #9e9e9e;
  text-decoration: none;
  border: 0;
  padding: 0;
  cursor: pointer;
  background: transparent;
  border-bottom: 1px dashed currentColor;
  &:hover {
    color: #000;
  }

  @include --max-lg {
    font-size: 11px;
    line-height: 16px;
    margin: 0 2px;
  }
}

.product-pricing {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr auto 4fr;
  grid-template-rows: auto 16px auto;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    'price . mrc .'
    '. . . .'
    'remains . . .';
}

.product-pricing__price {
  grid-area: price;
}

.product-pricing__mrc {
  grid-area: mrc;
}

.product-pricing__remains {
  grid-area: remains;
}

.product-price {
  display: flex;
  align-items: baseline;
  gap: 12px;
}

.product-price__label {
  font-size: 14px;
  color: #9c9c9c;
  line-height: 1;

  @include --max-lg {
    font-size: 12px;
  }
}

.product-price__value {
  font-size: 24px;
  color: #000000;
  font-weight: 700;
  line-height: 1;
}

.product-mrc {
  display: flex;
  align-items: baseline;
  gap: 4px;
}

.product-mrc__label {
  font-size: 16px;
  color: #9c9c9c;
  line-height: 1;

  @include --max-lg {
    font-size: 12px;
  }
}

.product-mrc__value {
  font-size: 16px;
  line-height: 1;
  color: #9c9c9c;
  // text-decoration: line-through;

  @include --max-lg {
    font-size: 12px;
  }
}

.product-remains {
  display: flex;
  align-items: baseline;
  gap: 12px;
}

.product-remains__label {
  font-size: 14px;
  color: #9c9c9c;
  line-height: 1;

  @include --max-lg {
    font-size: 12px;
  }
}

.product-remains__value {
  font-size: 14px;
  text-transform: uppercase;
  color: #37bc21;
  line-height: 1;

  @include --max-lg {
    font-size: 11px;
  }
}

.product-cheaper {
  font-size: 16px;
  text-transform: uppercase;
  color: #a1a0a0;
  text-align: center;
  height: 46px;
  border-radius: 12px;
  background: #f8f8f8;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border: 0;
  cursor: pointer;
  padding: 0;
  margin-top: 54px;
  &:hover {
    background: #f3f3f3;
    color: #000;
  }

  @include --max-lg {
    font-size: 14px;
    margin-top: 40px;
  }
  @include --max-md {
    margin-top: 16px;
  }
}

.product-options {
  margin-top: 24px;

  @include --max-md {
    margin-top: 16px;
  }
}

.product-form {
  margin-top: 24px;
}

.product-controls {
  margin-top: 24px;
  align-items: center;
  display: grid;
  gap: 16px;
  grid-template-columns: 48px 95px 1fr;

  @include --max-lg {
    gap: 12px;
    grid-template-columns: 48px 72px 1fr;
  }
  @include --max-md {
    gap: 8px;
    grid-template-columns: 72px 1fr;
    margin-top: 16px;
  }
}

.product-intro {
  margin-top: 24px;
  font-size: 14px;
  line-height: 24px;
  color: #000;

  @include --max-md {
    margin-top: 16px;
  }
}

#comments-wrapper {
}

#comments {
  padding: 0;
  margin: 0;
  list-style: none;
}

.product-review {
  display: flex;
  gap: 24px;
  border-bottom: 1px solid #e4e4e4;
  padding: 0 0 24px;
  margin: 0 0 24px;
  &.ticket-comment {
    margin: 0 0 24px;
  }
  &:last-child {
    margin-bottom: 0;
    border-bottom: 0;
    padding-bottom: 0;
  }
  @include --max-lg {
    gap: 16px;
  }
}

.product-review__side {
  flex-shrink: 0;
  width: 100px;

  @include --max-lg {
    width: 80px;
  }
  @include --max-md {
    display: none;
  }
}

.product-review__side-avatar {
  margin-bottom: 12px;
  width: 100%;
  display: flex;

  img {
    border-radius: 10px;
    width: 100%;
    height: auto;
  }
}

.product-review__side-name {
  color: #333;
  font-size: 14px;
  line-height: 1;
}

.product-review__main {
  flex-grow: 1;
}

.product-review__head {
  flex-grow: 1;
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto 12px auto;
  gap: 0px 0px;
  grid-template-areas:
    'rating . date'
    '. . .'
    'stars . .';

  @include --max-md {
    grid-template-areas:
      'avatar . name'
      'avatar . .'
      'avatar . rating'
      'avatar . .'
      'avatar . date'
      'avatar . .'
      'avatar . stars';
    grid-template-columns: 100px 0 auto;
    grid-template-rows: auto 8px auto 8px auto 8px 1fr;
  }
}

.product-review__head-avatar {
  display: flex;
  grid-area: avatar;

  img {
    border-radius: 10px;
    width: 100%;
    height: auto;
  }

  @include --md {
    display: none;
  }
}

.product-review__head-name {
  color: #333;
  line-height: 1.3;
  font-size: 20px;
  grid-area: name;

  @include --md {
    display: none;
  }
  @include --max-md {
    text-align: center;
    font-size: 18px;
  }
}

.product-review__head-rating {
  color: #333;
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  grid-area: rating;

  @include --max-md {
    text-align: center;
  }
}

.product-review__head-date {
  font-size: 14px;
  line-height: 1;
  grid-area: date;

  @include --max-md {
    text-align: center;
  }
}

.product-review__head-stars {
  display: flex;
  grid-area: stars;

  span {
    background: url('../images/star-gray.svg') no-repeat 50% 50%;
    background-size: cover;
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 2px;

    &:last-child {
      margin-right: 0;
    }

    &._marked {
      background-image: url('../images/star.svg');
    }
  }

  @include --max-md {
    justify-content: center;
  }
}

.product-review__text {
  font-size: 16px;
  line-height: 1.25;
  margin-top: 12px;

  @include --max-lg {
    font-size: 14px;
  }
}

.rating-details {
  display: grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: auto 24px auto;
  grid-template-rows: auto 12px auto 24px auto;
  gap: 0px 0px;
  grid-template-areas:
    'value . stars'
    '. . .'
    'count count count'
    '. . .'
    'add add add';
  justify-content: center;
  border-bottom: 1px solid #e4e4e4;
  padding: 0 0 24px;
  margin: 0 0 24px;
}

.rating-details__value {
  grid-area: value;
  font-size: 20px;
  color: #0699bc;
  font-weight: 700;
  line-height: 24px;
}

.rating-details__stars {
  grid-area: stars;
}

.rating-details__count {
  grid-area: count;
  font-size: 16px;
  line-height: 1;
  text-align: center;
}

.rating-details__add {
  grid-area: add;
  > * {
    width: 100%;
    svg {
      transform: rotate(-90deg);
    }
    &[data-reviews-form-status='active'] svg {
      transform: rotate(90deg);
    }
  }
}

.reviews-form {
  padding-bottom: 24px;
  margin-bottom: 24px;
  border-bottom: 1px solid #e4e4e4;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  row-gap: 16px;
  column-gap: 16px;

  &#comment-form {
    border-bottom: 1px solid #e4e4e4;
    padding-bottom: 24px;
  }

  #comment-preview-placeholder {
    max-width: initial;
    margin: initial !important;
    border: 4px solid #f4f4f4;
    padding: 12px;
  }

  @include --max-md {
    grid-template-columns: 1fr;
  }
}

.reviews-form__cell {
}

.reviews-form__cell_wide {
  @include --md {
    grid-column: span 2 / span 2;
  }
}

.reviews-form {
  display: none;
  &[data-reviews-form-status='active'] {
    display: grid;
  }
  .markItUp {
    margin: 0;
  }
  #comment-editor {
    width: 100%;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid #e3e3e3;
    padding: 12px;
    font-size: 16px;
  }
  .submit {
    width: 100%;
  }
  .preview {
    width: 100%;
  }
}

.comment-rating {
  position: relative;
}

.comment-rating__label {
  display: flex;
  align-items: center;
  line-height: 1;
  font-size: 11px;
  top: 8px;
  position: absolute;
  display: flex;
  align-items: center;
  gap: 2px;
  left: 12px;
  text-transform: uppercase;
  color: #999;
  font-family: var(--font-sans-narrow);
}

.comment-rating__control {
  display: flex;
  box-sizing: border-box;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 16px;
  border: 1px solid #e3e3e3;
  border-radius: 8px;
  height: 52px;
  display: flex;
  align-items: center;
}

.product-delivery {
}

.product-delivery__title {
  font-size: 20px;
  color: #000;
  line-height: 1.25;
  font-weight: 400;
  margin-bottom: 24px;
  text-align: center;

  @include --max-md {
    font-size: 16px;
    margin-bottom: 16px;
  }
}

.product-delivery__calc {
}

.product-delivery__info {
  margin-top: 24px;
  color: #bababa;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;

  a {
    color: inherit;
    text-decoration: underline;
    &:hover {
      color: #000;
    }
  }

  @include --max-md {
    font-size: 14px;
    margin-top: 16px;
  }
}

.product-similar {
}

.product-similar__title {
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  background-color: #e6f5f8;
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
  color: #222222;
  text-align: center;
  margin-bottom: 20px;
}

.product-similar__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.product-slider {
  --carousel-gap: 12px;
  --carousel-rows: 4;

  overflow: hidden;
  padding: 48px 0;

  &_gray {
    background-color: rgb(232, 232, 232);
  }

  @include --max-md {
    padding: 24px 0 32px;

    // .swiper-button-prev,
    // .swiper-button-next {
    //   color: #616161;
    //   background-color: rgba(255, 255, 255, 0.5);
    //   &:hover {
    //     background: #fff;
    //   }
    // }
  }
}

.product-slider__viewport {
  overflow: hidden;
}

.product-slider__container {
  display: flex;
  grid-column-gap: var(--carousel-gap);
}

.product-slider__slide {
  flex: 0 0 calc(100% / var(--carousel-columns) - var(--carousel-gap) * (var(--carousel-columns) - 1) / var(--carousel-columns));
  min-width: 0;
  position: relative;
}

.product-slider__title {
  font-size: 24px;
  text-transform: uppercase;
  color: #010101;
  margin-bottom: 24px;
  line-height: 1;

  @include --max-md {
    font-size: 16px;
    margin-bottom: 24px;
  }
}

.product-description {
  font-size: 16px;
  line-height: 1.5;

  @include --max-lg {
    font-size: 14px;
  }
}
