@import 'variables';

.mse2-ac-item {
  display: flex;
  align-items: center;
  padding: 8px;
}

.mse2-ac-item__image {
  width: 48px;
  height: 48px;
  display: block;
  flex-shrink: 0;
  margin-right: 8px;
  align-self: flex-start;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
  }
}

.mse2-ac-item__title {
  flex-grow: 1;
  font-size: 14px;
  line-height: 1;
}

.mse2-ac-item__coupon {
  background: #fe0000;
  text-align: center;
  color: #fff;
  line-height: 1;
  border-radius: 4px;
  min-width: 44px;
  padding: 2px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 2px;
}

.mse2-ac-item__price {
  font-weight: bold;
  font-size: 16px;
  white-space: nowrap;
  line-height: 1;
  margin-left: 8px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: right;
}

.mse2-ac-item__price i {
  font-size: 90%;
}

.mse2-ac-item__price-old {
  color: red;
  font-size: 10px;
  text-decoration: line-through;
}

body {
  .ui-state-active,
  .ui-widget-content .ui-state-active,
  .ui-widget-header .ui-state-active,
  a.ui-button:active,
  .ui-button:active,
  .ui-button.ui-state-active:hover {
    background: #f4f4f4;
    font-weight: normal;
    color: #000;
  }

  .ui-menu {
    padding-top: 7px;

    &:has(.mse2-ac-more) {
      padding-bottom: 45px;
    }

    &.ui-widget.ui-widget-content {
      border: none;
    }

    .ui-menu-item {
      border-bottom: 1px solid rgba(191, 191, 191, 0.478);
      border-left: 1px solid rgba(191, 191, 191, 0.478);
      border-right: 1px solid rgba(191, 191, 191, 0.478);
      &:first-child {
        border-top: 1px solid rgba(191, 191, 191, 0.478);
      }
    }

    .ui-menu-item-wrapper {
      padding: 0;
      margin: 0;
      border: none;
    }

    .ui-widget-content.ui-menu-divider.mse2-ac-more {
      background-color: #efde00;
      color: #383838;
      text-decoration: underline;
      position: absolute;
      left: 0;
      right: 45px;
      bottom: 0;
      z-index: 1;
      margin: 0;
      font-size: 14px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 45px;
      border-color: rgba(191, 191, 191, 0.478);
      border-width: 0 0 1px 1px;
      box-sizing: border-box;
      &::before {
        content: 'Показать все';
      }
      &:hover {
        color: #000;
        background-image: linear-gradient(53deg, rgb(255, 238, 102) 0%, rgb(255, 223, 44) 100%);
      }
    }

    .ui-widget-content.ui-menu-divider.mse2-ac-close {
      position: absolute;
      bottom: 0;
      right: 0;
      height: 45px;
      width: 45px;
      z-index: 2;
      background-color: #efde00;
      border-color: rgba(191, 191, 191, 0.478);
      border-width: 0 1px 1px 1px;
      box-sizing: border-box;
      margin: 0;
      color: #383838;
      cursor: pointer;
      &:hover {
        color: #000;
        background-image: linear-gradient(53deg, rgb(255, 238, 102) 0%, rgb(255, 223, 44) 100%);
      }
      &::before {
        content: '';
        width: 20px;
        height: 2px;
        background: currentColor;
        position: absolute;
        left: 50%;
        top: 50%;
        transform-origin: 0 0;
        border-radius: 2px;
        transform: rotate(-45deg) translate(-50%, -50%);
      }
      &::after {
        content: '';
        width: 20px;
        height: 2px;
        background: currentColor;
        position: absolute;
        left: 50%;
        top: 50%;
        transform-origin: 0 0;
        border-radius: 2px;
        transform: rotate(45deg) translate(-50%, -50%);
      }
    }
  }
}

.search-page {
  margin: 12px 0 96px;
}

.search-page__title {
  font-size: 30px;
  text-transform: uppercase;
  color: #000;
  line-height: 36px;
  font-weight: 400;
  margin: 32px 0;

  @include --max-lg {
    font-size: 16px;
    line-height: 20px;
    margin: 16px 0;
  }
}

.search-products {
  margin-top: 24px;
}

.search-products .sticky-filter__container {
  width: calc(100vw - (100vw - var(--container-width)));

  @include --max-2xl {
    width: calc(100vw - (100vw - var(--container-width)));
  }

  @include --max-lg {
    width: calc(100vw - (var(--container-padding) * 2));
  }
}

.search-products #mse2_results {
  margin: 24px 0 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 12px;
  row-gap: 24px;
  .mse2_results_nodata {
    grid-column: span 2 / span 2;
  }
  @include --md {
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    > *:nth-child(15) + * {
      display: none;
    }
    .mse2_results_nodata {
      grid-column: span 3 / span 3;
    }
  }
  @include --lg {
    grid-template-columns: repeat(4, 1fr);
    > *:nth-child(15) + * {
      display: flex;
    }
    .mse2_results_nodata {
      grid-column: span 4 / span 4;
    }
  }
  @include --3xl {
    grid-template-columns: repeat(5, 1fr);
    > *:nth-child(15) + * {
      display: none;
    }
    .mse2_results_nodata {
      grid-column: span 5 / span 5;
    }
  }
}
