@import 'variables';
@import 'fonts';
@import 'common';
@import 'filter';
@import 'header';
@import 'footer';
@import 'floating-nav';
@import 'search';
@import 'home';
@import 'ProductCard';
@import 'buy-in-click';
@import 'modals';
@import 'category';
@import 'product';
@import 'calc';
@import 'cheaper';
@import 'cart';
@import 'order';
@import 'complete';
@import 'contacts';
@import 'comparison';
@import 'favorites';
@import 'office';
@import 'orders';
@import 'page-404';

:root {
  --header-height: 61px;
  --container-padding: 48px;
  --container-width: 1600px;
  @include --max-3xl {
    --footer-height: 499px;
    --container-padding: 32px;
    --container-width: 1408px;
  }
  @include --max-2xl {
    --container-padding: 16px;
    --container-width: 1216px;
  }
  @include --max-xl {
    --container-padding: 12px;
    --container-width: 976px;
  }
  @include --max-lg {
    --header-height: 89px;
    --container-padding: 24px;
    --container-width: calc(100vw - (var(--container-padding) * 2));
  }
  @include --max-md {
    --container-padding: 12px;
    --container-width: calc(100vw - (var(--container-padding) * 2));
  }
}
